IISSPTestApplication/Web References/B_EKIS_SP_TESTWS/SI_TESTWS_OUTSync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="urn:cz:mfcr:iissp:schemas:Messaging:v1" xmlns:p1="http://mfcr.cz/iissp/risre/common" name="SI_TESTWS_OUTSync" targetNamespace="http://mfcr.cz/iissp/risre/common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xsd:schema xmlns="urn:cz:isvs:micr:schemas:BusinessTypes:v2" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" targetNamespace="urn:cz:isvs:micr:schemas:BusinessTypes:v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" />
      <xsd:complexType name="SubjektICOType">
        <xsd:annotation>
          <xsd:documentation>Identifikační číslo (IČ) je číslicový pořadový kód, který slouží k jednoznačné identifikaci ekonomických subjektů. Ekonomickým subjektem je každá právnická osoba a dále fyzické osoby, které mají podle zvláštního předpisu postavení podnikatele.</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Pavel Benda (benda@asd-software.cz)</dc:creator>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/"><![CDATA[Identifikační číslo (IČ) je číslicový pořadový kód, který slouží k jednoznačné identifikaci ekonomických subjektů. Ekonomickým subjektem je každá právnická osoba a dále fyzické osoby, které mají podle zvláštního předpisu postavení podnikatele.]]></dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">IDENTIFIKAČNÍ ČÍSLO (IČ)</dc:title>
                <dcterm:created xmlns:dcterm="http://purl.org/dc/terms/">19940601</dcterm:created>
                <dcterm:valid xmlns:dcterm="http://purl.org/dc/terms/">–</dcterm:valid>
                <dcterm:modified xmlns:dcterm="http://purl.org/dc/terms/">20030801</dcterm:modified>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:maxLength value="8" />
            <xsd:minLength value="8" />
            <xsd:pattern value="\d{8}" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Object" type="ObjectType" />
      <xsd:element name="SignatureValue" type="SignatureValueType" />
      <xsd:element name="KeyValue" type="KeyValueType" />
      <xsd:element name="Transforms" type="TransformsType" />
      <xsd:element name="RSAKeyValue" type="RSAKeyValueType" />
      <xsd:element name="Signature" type="SignatureType" />
      <xsd:element name="X509Data" type="X509DataType" />
      <xsd:element name="KeyInfo" type="KeyInfoType" />
      <xsd:element name="SPKIData" type="SPKIDataType" />
      <xsd:element name="PGPData" type="PGPDataType" />
      <xsd:element name="SignedInfo" type="SignedInfoType" />
      <xsd:element name="DSAKeyValue" type="DSAKeyValueType" />
      <xsd:element name="Transform" type="TransformType" />
      <xsd:element name="Reference" type="ReferenceType" />
      <xsd:element name="MgmtData" type="xsd:string" />
      <xsd:element name="CanonicalizationMethod" type="CanonicalizationMethodType" />
      <xsd:element name="KeyName" type="xsd:string" />
      <xsd:element name="SignatureMethod" type="SignatureMethodType" />
      <xsd:element name="DigestMethod" type="DigestMethodType" />
      <xsd:element name="DigestValue" type="DigestValueType" />
      <xsd:element name="RetrievalMethod" type="RetrievalMethodType" />
      <xsd:simpleType name="CryptoBinary">
        <xsd:restriction base="xsd:base64Binary" />
      </xsd:simpleType>
      <xsd:simpleType name="HMACOutputLengthType">
        <xsd:restriction base="xsd:integer" />
      </xsd:simpleType>
      <xsd:simpleType name="DigestValueType">
        <xsd:restriction base="xsd:base64Binary" />
      </xsd:simpleType>
      <xsd:complexType name="PGPDataType">
        <xsd:choice>
          <xsd:sequence>
            <xsd:element form="qualified" name="PGPKeyID" type="xsd:base64Binary" />
            <xsd:element minOccurs="0" form="qualified" name="PGPKeyPacket" type="xsd:base64Binary" />
            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xsd:sequence>
          <xsd:sequence>
            <xsd:element form="qualified" name="PGPKeyPacket" type="xsd:base64Binary" />
            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xsd:sequence>
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name="DSAKeyValueType">
        <xsd:sequence>
          <xsd:sequence minOccurs="0">
            <xsd:element form="qualified" name="P" type="CryptoBinary" />
            <xsd:element form="qualified" name="Q" type="CryptoBinary" />
          </xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="G" type="CryptoBinary" />
          <xsd:element form="qualified" name="Y" type="CryptoBinary" />
          <xsd:element minOccurs="0" form="qualified" name="J" type="CryptoBinary" />
          <xsd:sequence minOccurs="0">
            <xsd:element form="qualified" name="Seed" type="CryptoBinary" />
            <xsd:element form="qualified" name="PgenCounter" type="CryptoBinary" />
          </xsd:sequence>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ObjectType" mixed="true">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:any processContents="lax" />
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" />
        <xsd:attribute name="MimeType" type="xsd:string" />
        <xsd:attribute name="Encoding" type="xsd:anyURI" />
      </xsd:complexType>
      <xsd:complexType name="X509DataType">
        <xsd:sequence maxOccurs="unbounded">
          <xsd:choice>
            <xsd:element form="qualified" name="X509IssuerSerial" type="X509IssuerSerialType" />
            <xsd:element form="qualified" name="X509SKI" type="xsd:base64Binary" />
            <xsd:element form="qualified" name="X509SubjectName" type="xsd:string" />
            <xsd:element form="qualified" name="X509Certificate" type="xsd:base64Binary" />
            <xsd:element form="qualified" name="X509CRL" type="xsd:base64Binary" />
            <xsd:any namespace="##other" processContents="lax" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransformsType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="Transform" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SignatureValueType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="Id" type="xsd:ID" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="SPKIDataType">
        <xsd:sequence maxOccurs="unbounded">
          <xsd:element form="qualified" name="SPKISexp" type="xsd:base64Binary" />
          <xsd:any minOccurs="0" namespace="##other" processContents="lax" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CanonicalizationMethodType" mixed="true">
        <xsd:sequence>
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="Algorithm" type="xsd:anyURI" use="required" />
      </xsd:complexType>
      <xsd:complexType name="RetrievalMethodType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="Transforms" />
        </xsd:sequence>
        <xsd:attribute name="URI" type="xsd:anyURI" />
        <xsd:attribute name="Type" type="xsd:anyURI" />
      </xsd:complexType>
      <xsd:complexType name="RSAKeyValueType">
        <xsd:sequence>
          <xsd:element form="qualified" name="Modulus" type="CryptoBinary" />
          <xsd:element form="qualified" name="Exponent" type="CryptoBinary" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="KeyInfoType" mixed="true">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="KeyName" />
          <xsd:element ref="KeyValue" />
          <xsd:element ref="RetrievalMethod" />
          <xsd:element ref="X509Data" />
          <xsd:element ref="PGPData" />
          <xsd:element ref="SPKIData" />
          <xsd:element ref="MgmtData" />
          <xsd:any namespace="##other" processContents="lax" />
        </xsd:choice>
        <xsd:attribute name="Id" type="xsd:ID" />
      </xsd:complexType>
      <xsd:complexType name="KeyValueType" mixed="true">
        <xsd:choice>
          <xsd:element ref="DSAKeyValue" />
          <xsd:element ref="RSAKeyValue" />
          <xsd:any namespace="##other" processContents="lax" />
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name="DigestMethodType" mixed="true">
        <xsd:sequence>
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xsd:sequence>
        <xsd:attribute name="Algorithm" type="xsd:anyURI" use="required" />
      </xsd:complexType>
      <xsd:complexType name="SignatureMethodType" mixed="true">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="HMACOutputLength" type="HMACOutputLengthType" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
        </xsd:sequence>
        <xsd:attribute name="Algorithm" type="xsd:anyURI" use="required" />
      </xsd:complexType>
      <xsd:complexType name="SignatureType">
        <xsd:sequence>
          <xsd:element ref="SignedInfo" />
          <xsd:element ref="SignatureValue" />
          <xsd:element minOccurs="0" ref="KeyInfo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Object" />
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" />
      </xsd:complexType>
      <xsd:complexType name="SignedInfoType">
        <xsd:sequence>
          <xsd:element ref="CanonicalizationMethod" />
          <xsd:element ref="SignatureMethod" />
          <xsd:element maxOccurs="unbounded" ref="Reference" />
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" />
      </xsd:complexType>
      <xsd:complexType name="ReferenceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="Transforms" />
          <xsd:element ref="DigestMethod" />
          <xsd:element ref="DigestValue" />
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" />
        <xsd:attribute name="URI" type="xsd:anyURI" />
        <xsd:attribute name="Type" type="xsd:anyURI" />
      </xsd:complexType>
      <xsd:complexType name="X509IssuerSerialType">
        <xsd:sequence>
          <xsd:element form="qualified" name="X509IssuerName" type="xsd:string" />
          <xsd:element form="qualified" name="X509SerialNumber" type="xsd:integer" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransformType" mixed="true">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any namespace="##other" processContents="lax" />
          <xsd:element form="qualified" name="XPath" type="xsd:string" />
        </xsd:choice>
        <xsd:attribute name="Algorithm" type="xsd:anyURI" use="required" />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:cz:mfcr:iissp:schemas:Risre:Types:v1" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" targetNamespace="urn:cz:mfcr:iissp:schemas:Risre:Types:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" />
      <xsd:complexType name="ZpracovaniVysledekTypType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="Poznamka1Type">
        <xsd:simpleContent>
          <xsd:restriction base="PoznamkaType">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PriznakType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:IndikatorXmlType" />
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ZpracovaniVysledekTextType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="200" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="CastkaType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:CenaType">
            <xsd:totalDigits value="17" />
            <xsd:fractionDigits value="2" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ZpracovaniVysledekIDType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="40" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PoznamkaType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:minLength value="0" />
            <xsd:maxLength value="80" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:cz:isvs:micr:schemas:CommonTypes:v1" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" targetNamespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" />
      <xsd:complexType name="EmailType">
        <xsd:annotation>
          <xsd:documentation>Popis e-mailu</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Pavel Benda (benda@asd-software.cz)</dc:creator>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Popis e-mailu</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">ELEKTRONICKÁ ADRESA (E-MAIL)</dc:title>
                <dcterm:created xmlns:dcterm="http://purl.org/dc/terms/">20040831</dcterm:created>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:maxLength value="254" />
            <xsd:minLength value="3" />
            <xsd:pattern value="([0123456789,A-Z,a-z,_,.,\-]{1,50})+@+([0123456789,A-Z,a-z,_,.,\-]{1,100})" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="FaxTelefonCisloType">
        <xsd:annotation>
          <xsd:documentation>Číslo koncového bodu veřejných telefonních sítí a veřejných komunikačních sítí s internetovým protokolem. Datový prvek má části:
1. mezinárodní přestupný znak („00“ nebo „+“)
2. Volba (předvolba) operátora
3. kód země
4.  účastnické číslo (u ústředen s provolbou se rozumí číslo ústředny a číslo přípojky pobočkové sítě nebo pobočkové ústředny dohromady)
5. číslo koncového bodu (u ústředen se spojovatelkou – tzv. poloautomatický provoz)
Datový prvek nemusí mít uvedeno číslo přípojky pobočkové sítě nebo pobočkové ústředny.
Je-li předřazen mezinárodní přestupný znak (např. pro USA před kód země „1“, tj. 001), jde o mezinárodní spojení.
Není-li uveden mezinárodní přestupný znak 00, jde o účastnické číslo (telefonní číslo) a datový prvek obsahuje jen účastnické číslo.</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Pavel Benda (benda@asd-software.cz)</dc:creator>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/"><![CDATA[Číslo koncového bodu veřejných telefonních sítí a veřejných komunikačních sítí s internetovým protokolem. Datový prvek má části:
1. mezinárodní přestupný znak („00“ nebo „+“)
2. Volba (předvolba) operátora
3. kód země
4.  účastnické číslo (u ústředen s provolbou se rozumí číslo ústředny a číslo přípojky pobočkové sítě nebo pobočkové ústředny dohromady)
5. číslo koncového bodu (u ústředen se spojovatelkou – tzv. poloautomatický provoz)
Datový prvek nemusí mít uvedeno číslo přípojky pobočkové sítě nebo pobočkové ústředny.
Je-li předřazen mezinárodní přestupný znak (např. pro USA před kód země „1“, tj. 001), jde o mezinárodní spojení.
Není-li uveden mezinárodní přestupný znak 00, jde o účastnické číslo (telefonní číslo) a datový prvek obsahuje jen účastnické číslo.]]></dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">TELEFONNÍ ČÍSLO (FAXOVÉ ČÍSLO)</dc:title>
                <dcterm:created xmlns:dcterm="http://purl.org/dc/terms/">19960601</dcterm:created>
                <dcterm:valid xmlns:dcterm="http://purl.org/dc/terms/">–</dcterm:valid>
                <dcterm:modified xmlns:dcterm="http://purl.org/dc/terms/">20050501</dcterm:modified>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:maxLength value="33" />
            <xsd:minLength value="3" />
            <xsd:pattern value="(TE|FX)?([0]{0,2})([0-9]{3,4})?([0-9]{1,6})?[0-9]{3,17}[0-9]{0,4}" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:cmn="urn:cz:isvs:micr:schemas:CommonTypes:v1" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns="urn:cz:mfcr:iissp:schemas:Common:v1" xmlns:bus="urn:cz:isvs:micr:schemas:BusinessTypes:v2" targetNamespace="urn:cz:mfcr:iissp:schemas:Common:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" />
      <xsd:import namespace="urn:cz:isvs:micr:schemas:BusinessTypes:v2" />
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" />
      <xsd:element name="TransactionId" type="MessageIdType">
        <xsd:annotation>
          <xsd:documentation>Jednoznačné identifikační číslo přenosu - přidělováno odesílatelem</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ResponsiblePerson" type="PersonType">
        <xsd:annotation>
          <xsd:documentation>Identifikační a kontaktní údaje zodpovědné osoby</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Module" type="ModuleType">
        <xsd:annotation>
          <xsd:documentation>Identifikace modulu či aplikačního systému IISSP</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReferenceTransactionId" type="MessageIdType">
        <xsd:annotation>
          <xsd:documentation>Identifikace odkazované zprávy</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectId" type="SubjectIdType">
        <xsd:annotation>
          <xsd:documentation>Identifikace subjektu pomocí jiného identifikátoru než je IČ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectUnitId" type="SubjectUnitIdType">
        <xsd:annotation>
          <xsd:documentation>Identifikace části organizační jednotky</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IC" type="bus:SubjektICOType" />
      <xsd:element name="PersonId" type="PersonIdType">
        <xsd:annotation>
          <xsd:documentation>Identifikace zodpovědné osoby</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PersonName" type="cct:TextType">
        <xsd:annotation>
          <xsd:documentation>Jméno a příjmení osoby</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UserName" type="UserNameType">
        <xsd:annotation>
          <xsd:documentation>Identifikace uživatele - uživatelské jméno</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectName" type="cct:TextType">
        <xsd:annotation>
          <xsd:documentation>Název subjektu (organizace)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PhoneNumber" type="cmn:FaxTelefonCisloType">
        <xsd:annotation>
          <xsd:documentation>Kontaktní telefonní číslo</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Email" type="cmn:EmailType">
        <xsd:annotation>
          <xsd:documentation>Emailová adresa</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:complexType name="MessageIdType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:pattern value="[a-fA-F0-9]+" />
            <xsd:maxLength value="32" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PersonIdType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:maxLength value="15" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ModuleType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:enumeration value="CSUIS">
              <xsd:annotation>
                <xsd:documentation>CSUIS</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MIS">
              <xsd:annotation>
                <xsd:documentation>MIS</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RISRE">
              <xsd:annotation>
                <xsd:documentation>RISRE</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="RISPR">
              <xsd:annotation>
                <xsd:documentation>RISPR</xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="PersonType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="PersonName" />
          <xsd:element minOccurs="0" ref="Email" />
          <xsd:element ref="PersonId" />
          <xsd:element minOccurs="0" ref="UserName" />
          <xsd:element minOccurs="0" form="qualified" name="CertificateId" type="cct:KodType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="PhoneNumber" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubjectUnitIdType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:maxLength value="10" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="UserNameType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType">
            <xsd:minLength value="1" />
            <xsd:maxLength value="12" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="SubjectIdType">
        <xsd:simpleContent>
          <xsd:restriction base="cct:IdentifikatorType">
            <xsd:maxLength value="10" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://mfcr.cz/iissp/risre/common" targetNamespace="http://mfcr.cz/iissp/risre/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="FMT_Generic_Fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">1cc371a10f8211df942a00096baeaa70</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">1ce244410f8211df8c3e00096baeaa70</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" targetNamespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="jazykType">
        <xsd:restriction base="xsd:language">
          <xsd:enumeration value="aa">
            <xsd:annotation>
              <xsd:documentation>AFAR</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ab">
            <xsd:annotation>
              <xsd:documentation>ABKHAZIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="af">
            <xsd:annotation>
              <xsd:documentation>AFRIKAANS</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="am">
            <xsd:annotation>
              <xsd:documentation>AMHARIC</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ar">
            <xsd:annotation>
              <xsd:documentation>ARABIC</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="as">
            <xsd:annotation>
              <xsd:documentation>ASSAMESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ay">
            <xsd:annotation>
              <xsd:documentation>AYMARA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="az">
            <xsd:annotation>
              <xsd:documentation>AZERBAIJANI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ba">
            <xsd:annotation>
              <xsd:documentation>BASHKIR</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="be">
            <xsd:annotation>
              <xsd:documentation>BYELORUSSIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="bg">
            <xsd:annotation>
              <xsd:documentation>BULGARIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="bh">
            <xsd:annotation>
              <xsd:documentation>BIHARI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="bi">
            <xsd:annotation>
              <xsd:documentation>BISLAMA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="bn">
            <xsd:annotation>
              <xsd:documentation>BENGALI;BANGLA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="bo">
            <xsd:annotation>
              <xsd:documentation>TIBETAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="br">
            <xsd:annotation>
              <xsd:documentation>BRETON</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ca">
            <xsd:annotation>
              <xsd:documentation>CATALAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="co">
            <xsd:annotation>
              <xsd:documentation>CORSICAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="cs">
            <xsd:annotation>
              <xsd:documentation>CZECH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="cy">
            <xsd:annotation>
              <xsd:documentation>WELSH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="da">
            <xsd:annotation>
              <xsd:documentation>DANISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="de">
            <xsd:annotation>
              <xsd:documentation>GERMAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="dz">
            <xsd:annotation>
              <xsd:documentation>BHUTANI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="el">
            <xsd:annotation>
              <xsd:documentation>GREEK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="en">
            <xsd:annotation>
              <xsd:documentation>ENGLISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="eo">
            <xsd:annotation>
              <xsd:documentation>ESPERANTO</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="es">
            <xsd:annotation>
              <xsd:documentation>SPANISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="et">
            <xsd:annotation>
              <xsd:documentation>ESTONIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="eu">
            <xsd:annotation>
              <xsd:documentation>BASQUE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fa">
            <xsd:annotation>
              <xsd:documentation>PERSIAN (farsi)</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fi">
            <xsd:annotation>
              <xsd:documentation>FINNISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fj">
            <xsd:annotation>
              <xsd:documentation>FIJI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fo">
            <xsd:annotation>
              <xsd:documentation>FAROESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fr">
            <xsd:annotation>
              <xsd:documentation>FRENCH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="fy">
            <xsd:annotation>
              <xsd:documentation>FRISIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ga">
            <xsd:annotation>
              <xsd:documentation>IRISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="gd">
            <xsd:annotation>
              <xsd:documentation>SCOTS GAELIC</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="gl">
            <xsd:annotation>
              <xsd:documentation>GALICIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="gn">
            <xsd:annotation>
              <xsd:documentation>GUARANI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="gu">
            <xsd:annotation>
              <xsd:documentation>GUJARATI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ha">
            <xsd:annotation>
              <xsd:documentation>HAUSA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="he">
            <xsd:annotation>
              <xsd:documentation>HEBREW</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="hi">
            <xsd:annotation>
              <xsd:documentation>HINDI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="hr">
            <xsd:annotation>
              <xsd:documentation>CROATIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="hu">
            <xsd:annotation>
              <xsd:documentation>HUNGARIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="hy">
            <xsd:annotation>
              <xsd:documentation>ARMENIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ia">
            <xsd:annotation>
              <xsd:documentation>INTERLINGUA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ie">
            <xsd:annotation>
              <xsd:documentation>INTERLINGUE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ik">
            <xsd:annotation>
              <xsd:documentation>INUPIAK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="id">
            <xsd:annotation>
              <xsd:documentation>INDONESIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="is">
            <xsd:annotation>
              <xsd:documentation>ICELANDIC</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="it">
            <xsd:annotation>
              <xsd:documentation>ITALIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="iu">
            <xsd:annotation>
              <xsd:documentation>INUKTITUT</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ja">
            <xsd:annotation>
              <xsd:documentation>JAPANESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="jv">
            <xsd:annotation>
              <xsd:documentation>JAVANESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ka">
            <xsd:annotation>
              <xsd:documentation>GEORGIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="kk">
            <xsd:annotation>
              <xsd:documentation>KAZAKH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="kl">
            <xsd:annotation>
              <xsd:documentation>GREENLANDIC</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="km">
            <xsd:annotation>
              <xsd:documentation>CAMBODIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="kn">
            <xsd:annotation>
              <xsd:documentation>KANNADA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ko">
            <xsd:annotation>
              <xsd:documentation>KOREAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ks">
            <xsd:annotation>
              <xsd:documentation>KASHMIRI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ku">
            <xsd:annotation>
              <xsd:documentation>KURDISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ky">
            <xsd:annotation>
              <xsd:documentation>KIRGHIZ</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="la">
            <xsd:annotation>
              <xsd:documentation>LATIN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ln">
            <xsd:annotation>
              <xsd:documentation>LINGALA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="lo">
            <xsd:annotation>
              <xsd:documentation>LAOTHIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="lt">
            <xsd:annotation>
              <xsd:documentation>LITHUANIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="lv">
            <xsd:annotation>
              <xsd:documentation>LATVIAN;LETTISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mg">
            <xsd:annotation>
              <xsd:documentation>MALAGASY</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mi">
            <xsd:annotation>
              <xsd:documentation>MAORI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mk">
            <xsd:annotation>
              <xsd:documentation>MACEDONIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ml">
            <xsd:annotation>
              <xsd:documentation>MALAYALAM</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mn">
            <xsd:annotation>
              <xsd:documentation>MONGOLIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mo">
            <xsd:annotation>
              <xsd:documentation>MOLDAVIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mr">
            <xsd:annotation>
              <xsd:documentation>MARATHI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ms">
            <xsd:annotation>
              <xsd:documentation>MALAY</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="mt">
            <xsd:annotation>
              <xsd:documentation>MALTESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="my">
            <xsd:annotation>
              <xsd:documentation>BURMESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="na">
            <xsd:annotation>
              <xsd:documentation>NAURU</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ne">
            <xsd:annotation>
              <xsd:documentation>NEPALI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="nl">
            <xsd:annotation>
              <xsd:documentation>DUTCH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="no">
            <xsd:annotation>
              <xsd:documentation>NORWEGIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="oc">
            <xsd:annotation>
              <xsd:documentation>OCCITAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="om">
            <xsd:annotation>
              <xsd:documentation>AFAN (OROMO)</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="or">
            <xsd:annotation>
              <xsd:documentation>ORIYA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="pa">
            <xsd:annotation>
              <xsd:documentation>PUNJABI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="pl">
            <xsd:annotation>
              <xsd:documentation>POLISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ps">
            <xsd:annotation>
              <xsd:documentation>PASHTO;PUSHTO</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="pt">
            <xsd:annotation>
              <xsd:documentation>PORTUGUESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="qu">
            <xsd:annotation>
              <xsd:documentation>QUECHUA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="rm">
            <xsd:annotation>
              <xsd:documentation>RHAETO-ROMANCE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="rn">
            <xsd:annotation>
              <xsd:documentation>KURUNDI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ro">
            <xsd:annotation>
              <xsd:documentation>ROMANIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ru">
            <xsd:annotation>
              <xsd:documentation>RUSSIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="rw">
            <xsd:annotation>
              <xsd:documentation>KINYARWANDA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sa">
            <xsd:annotation>
              <xsd:documentation>SANSKRIT</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sd">
            <xsd:annotation>
              <xsd:documentation>SINDHI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sg">
            <xsd:annotation>
              <xsd:documentation>SANGHO</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sh">
            <xsd:annotation>
              <xsd:documentation>SERBO-CROATIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="si">
            <xsd:annotation>
              <xsd:documentation>SINGHALESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sk">
            <xsd:annotation>
              <xsd:documentation>SLOVAK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sl">
            <xsd:annotation>
              <xsd:documentation>SLOVENIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sm">
            <xsd:annotation>
              <xsd:documentation>SAMOAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sn">
            <xsd:annotation>
              <xsd:documentation>SHONA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="so">
            <xsd:annotation>
              <xsd:documentation>SOMALI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sq">
            <xsd:annotation>
              <xsd:documentation>ALBANIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sr">
            <xsd:annotation>
              <xsd:documentation>SERBIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ss">
            <xsd:annotation>
              <xsd:documentation>SISWATI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="st">
            <xsd:annotation>
              <xsd:documentation>SESOTHO</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="su">
            <xsd:annotation>
              <xsd:documentation>SUNDANESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sv">
            <xsd:annotation>
              <xsd:documentation>SWEDISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="sw">
            <xsd:annotation>
              <xsd:documentation>SWAHILI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ta">
            <xsd:annotation>
              <xsd:documentation>TAMIL</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="te">
            <xsd:annotation>
              <xsd:documentation>TELUGU</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tg">
            <xsd:annotation>
              <xsd:documentation>TAJIK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="th">
            <xsd:annotation>
              <xsd:documentation>THAI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ti">
            <xsd:annotation>
              <xsd:documentation>TIGRINYA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tk">
            <xsd:annotation>
              <xsd:documentation>TURKMEN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tl">
            <xsd:annotation>
              <xsd:documentation>TAGALOG</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tn">
            <xsd:annotation>
              <xsd:documentation>SETSWANA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="to">
            <xsd:annotation>
              <xsd:documentation>TONGA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tr">
            <xsd:annotation>
              <xsd:documentation>TURKISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ts">
            <xsd:annotation>
              <xsd:documentation>TSONGA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tt">
            <xsd:annotation>
              <xsd:documentation>TATAR</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="tw">
            <xsd:annotation>
              <xsd:documentation>TWI</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ug">
            <xsd:annotation>
              <xsd:documentation>UIGUR</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="uk">
            <xsd:annotation>
              <xsd:documentation>UKRAINIAN</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="ur">
            <xsd:annotation>
              <xsd:documentation>URDU</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="uz">
            <xsd:annotation>
              <xsd:documentation>UZBEK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="vi">
            <xsd:annotation>
              <xsd:documentation>VIETNAMESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="vo">
            <xsd:annotation>
              <xsd:documentation>VOLAPUK</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="wo">
            <xsd:annotation>
              <xsd:documentation>WOLOF</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="xh">
            <xsd:annotation>
              <xsd:documentation>XHOSA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="yi">
            <xsd:annotation>
              <xsd:documentation>YIDDISH</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="yo">
            <xsd:annotation>
              <xsd:documentation>YORUBA</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="za">
            <xsd:annotation>
              <xsd:documentation>ZHUANG</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="zh">
            <xsd:annotation>
              <xsd:documentation>CHINESE</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
          <xsd:enumeration value="zu">
            <xsd:annotation>
              <xsd:documentation>ZULU</xsd:documentation>
            </xsd:annotation>
          </xsd:enumeration>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="IndikatorXmlType">
        <xsd:annotation>
          <xsd:documentation>Seznam dvou logických hodnot, vycházející z datového typu "Boolean" XML Schema. Nabývá pouze hodnot "true" nebo "false".</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Seznam dvou logických hodnot, vycházející z datového typu "Boolean" XML Schema. Nabývá pouze hodnot "true" nebo "false".</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">INDIKÁTOR XML</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:boolean">
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="DatumType">
        <xsd:annotation>
          <xsd:documentation>Hodnota specifikující určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Hodnota specifikující určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">DATUM OBECNÉ</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:date">
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="CenaType">
        <xsd:annotation>
          <xsd:documentation>Počet pěněžních jednotek ve specifikované či implicitní měně; volitelně spolu s doplňkovou informací o formátu údaje</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Počet pěněžních jednotek ve specifikované či implicitní měně; volitelně spolu s doplňkovou informací o formátu údaje</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">CENA</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:decimal">
            <xsd:attribute name="menaKod" type="xsd:token" />
            <xsd:attribute name="menaCiselnikID" type="xsd:token" />
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="DatumCasType">
        <xsd:annotation>
          <xsd:documentation>Hodnota konkrétního bodu v časové ose volitelně spolu s doplňkovou informací o formátu údaje. Používá se pro datum a/nebo čas</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Hodnota konkrétního bodu v časové ose volitelně spolu s doplňkovou informací o formátu údaje. Používá se pro datum a/nebo čas</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">DATUM A ČAS</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="KodType">
        <xsd:annotation>
          <xsd:documentation>Znakový řetězec (písmena, číslice nebo symboly) které mohou z důvodů jasnosti a jazykové nezávislosti nahradit definitivní hodnotu nebo text; volitelně spolu s doplňkovými informacemi o údaji</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/"><![CDATA[Znakový řetězec (písmena, číslice nebo symboly) které mohou z důvodů jasnosti a jazykové nezávislosti nahradit definitivní hodnotu nebo text; volitelně spolu s doplňkovými informacemi o údaji]]></dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">KÓD</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:token">
            <xsd:attribute name="ciselnikID" type="xsd:token" />
            <xsd:attribute name="ciselnikSpravceID" type="xsd:token" />
            <xsd:attribute name="ciselnikVerzeID" type="xsd:token" />
            <xsd:attribute name="kodJmeno" type="xsd:string" />
            <xsd:attribute name="jazykKod" type="jazykType" />
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="IdentifikatorType">
        <xsd:annotation>
          <xsd:documentation>Znakový řetězec jednoznačně identifikující instanci příslušného objektu od ostatních objektů v rámci jednoho identifikačního schématu; volitelně spolu s doplňkovými informacemi o údaji</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/"><![CDATA[Znakový řetězec jednoznačně identifikující instanci příslušného objektu od ostatních objektů v rámci jednoho identifikačního schématu; volitelně spolu s doplňkovými informacemi o údaji]]></dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">IDENTIFIKÁTOR</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="schemaID" type="xsd:token" />
            <xsd:attribute name="schemaSpravceID" type="xsd:token" />
            <xsd:attribute name="jazykKod" type="jazykType" />
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="TextType">
        <xsd:annotation>
          <xsd:documentation>Znakový řetězec, obecně ve formátu volného textu i více slov; volitelně spolu s doplňkovou informací o jazyku</xsd:documentation>
          <xsd:appinfo>
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
              <rdf:Description>
                <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
                <dc:contributor xmlns:dc="http://purl.org/dc/elements/1.1/">Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
                <dc:description xmlns:dc="http://purl.org/dc/elements/1.1/">Znakový řetězec, obecně ve formátu volného textu i více slov; volitelně spolu s doplňkovou informací o jazyku</dc:description>
                <dc:title xmlns:dc="http://purl.org/dc/elements/1.1/">TEXT</dc:title>
              </rdf:Description>
            </rdf:RDF>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="jazykKod" type="jazykType" />
            <xsd:attribute name="objektID" type="xsd:token" />
            <xsd:anyAttribute />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:rt="urn:cz:mfcr:iissp:schemas:Risre:Types:v1" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:iissp="urn:cz:mfcr:iissp:schemas:Common:v1" xmlns="urn:cz:mfcr:iissp:schemas:Messaging:v1" targetNamespace="urn:cz:mfcr:iissp:schemas:Messaging:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:cz:mfcr:iissp:schemas:Common:v1" />
      <xsd:import namespace="urn:cz:mfcr:iissp:schemas:Risre:Types:v1" />
      <xsd:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" />
      <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" />
      <xsd:element name="EnvelopeBody" type="p2:EnvelopeBodyType">
        <xsd:annotation>
          <xsd:documentation>Tělo přenosové obálky, ve kterém jsou přenášena aplikační data.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EnvelopeHeader" type="p2:EnvelopeHeaderType">
        <xsd:annotation>
          <xsd:documentation>Hlavička přenosové obálky sloužící pro metadata přenosu</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Recipient" type="p2:RecipientSubjectType" />
      <xsd:element name="Processing" type="p2:ProcessingType" />
      <xsd:element name="Authentication" type="p2:AuthenticationType">
        <xsd:annotation>
          <xsd:documentation>Identifikační a autentizační údaje uživatele pro přihlášení k systému IISSP.
Je nutné vyplnit pouze v případě, je-li to vyžadováno daným rozhraním.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Sender" type="p2:SenderSubjectType" />
      <xsd:element name="DateTimeCreated" type="cct:DatumCasType">
        <xsd:annotation>
          <xsd:documentation>Datum a čas vytvoření (zprávy)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Envelope" type="p2:EnvelopeType" />
      <xsd:element name="EnvelopeFooter" type="p2:EnvelopeFooterType">
        <xsd:annotation>
          <xsd:documentation>Patička přenosové obálky sloužící pro kontrolní data</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group name="ZpracovaniHlaseniGroup">
        <xsd:sequence>
          <xsd:element form="qualified" name="TypMaximum" type="rt:ZpracovaniVysledekTypType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="Polozka">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" form="qualified" name="Typ" type="rt:ZpracovaniVysledekTypType" />
                <xsd:element minOccurs="0" form="qualified" name="ID" type="rt:ZpracovaniVysledekIDType" />
                <xsd:element form="qualified" name="Text" type="rt:ZpracovaniVysledekTextType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:group>
      <xsd:complexType name="ZpracovaniHlaseniType">
        <xsd:group ref="p2:ZpracovaniHlaseniGroup" />
      </xsd:complexType>
      <xsd:complexType name="EnvelopeBodyType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element form="qualified" name="ZpravaRisreTestovaci" type="p2:ZpravaRisreTestovaciType" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EnvelopeHeaderType">
        <xsd:sequence>
          <xsd:element ref="iissp:TransactionId" />
          <xsd:element minOccurs="0" ref="iissp:ReferenceTransactionId" />
          <xsd:element ref="p2:DateTimeCreated" />
          <xsd:element ref="p2:Sender" />
          <xsd:element ref="p2:Recipient" />
          <xsd:element minOccurs="0" ref="p2:Authentication" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DataTestovaciType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="Text" type="rt:Poznamka1Type" />
          <xsd:element minOccurs="0" form="qualified" name="Datum" type="cct:DatumType" />
          <xsd:element minOccurs="0" form="qualified" name="DatumCas" type="cct:DatumCasType" />
          <xsd:element minOccurs="0" form="qualified" name="Castka" type="rt:CastkaType" />
          <xsd:element minOccurs="0" form="qualified" name="Priznak" type="rt:PriznakType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecipientSubjectType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ref="iissp:IC" />
            <xsd:element ref="iissp:SubjectId" />
          </xsd:choice>
          <xsd:element minOccurs="0" ref="iissp:SubjectUnitId" />
          <xsd:element ref="iissp:SubjectName" />
          <xsd:element minOccurs="0" ref="iissp:Module" />
          <xsd:element minOccurs="0" ref="iissp:ResponsiblePerson" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DataTestovaciOdpovedType">
        <xsd:sequence>
          <xsd:element minOccurs="0" form="qualified" name="TextZaslany" type="rt:Poznamka1Type" />
          <xsd:element minOccurs="0" form="qualified" name="DatumZaslane" type="cct:DatumType" />
          <xsd:element minOccurs="0" form="qualified" name="DatumCasZaslany" type="cct:DatumCasType" />
          <xsd:element minOccurs="0" form="qualified" name="CastkaZaslana" type="rt:CastkaType" />
          <xsd:element minOccurs="0" form="qualified" name="PriznakZaslany" type="rt:PriznakType" />
          <xsd:element form="qualified" name="ZpracovaniVysledek" type="p2:ZpracovaniHlaseniType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthenticationType">
        <xsd:sequence>
          <xsd:element form="qualified" name="Identification" type="p2:TextType" />
          <xsd:element form="qualified" name="Password" type="p2:TextType" />
          <xsd:element form="qualified" name="Method" type="p2:TextType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EnvelopeType">
        <xsd:annotation>
          <xsd:documentation>Komunikační obálka používaná pro výměnu zpráv libovolného druhu mezi IISSP a externími subjekty</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element ref="p2:EnvelopeHeader" />
          <xsd:element ref="p2:EnvelopeBody" />
          <xsd:element minOccurs="0" ref="p2:EnvelopeFooter" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EnvelopeFooterType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="ds:Signature" />
          <xsd:element minOccurs="0" ref="p2:Processing" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TextType">
        <xsd:annotation>
          <xsd:documentation>Datový typ pro uvedení textového řetězce bez omezení</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:restriction base="cct:TextType" />
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ProcessingType">
        <xsd:sequence>
          <xsd:any />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SenderSubjectType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element ref="iissp:IC" />
            <xsd:element ref="iissp:SubjectId" />
          </xsd:choice>
          <xsd:element minOccurs="0" ref="iissp:SubjectUnitId" />
          <xsd:element ref="iissp:SubjectName" />
          <xsd:element minOccurs="0" ref="iissp:Module" />
          <xsd:element ref="iissp:ResponsiblePerson" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZpravaRisreTestovaciType">
        <xsd:choice>
          <xsd:element form="qualified" name="DataTestovaci" type="p2:DataTestovaciType" />
          <xsd:element form="qualified" name="DataTestovaciOdpoved" type="p2:DataTestovaciOdpovedType" />
          <xsd:element form="qualified" name="ZpracovaniChyba" type="p2:ZpracovaniHlaseniType" />
        </xsd:choice>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.Envelope">
    <wsdl:documentation />
    <wsdl:part name="Envelope" element="p2:Envelope" />
  </wsdl:message>
  <wsdl:message name="FMT_Generic_Fault">
    <wsdl:documentation />
    <wsdl:part name="FMT_Generic_Fault" element="p1:FMT_Generic_Fault" />
  </wsdl:message>
  <wsdl:portType name="SI_TESTWS_OUTSync">
    <wsdl:documentation />
    <wsdl:operation name="SI_TESTWS_OUTSync">
      <wsdl:input message="p1:p2.Envelope" />
      <wsdl:output message="p1:p2.Envelope" />
      <wsdl:fault name="FMT_Generic_Fault" message="p1:FMT_Generic_Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_TESTWS_OUTSyncBinding" type="p1:SI_TESTWS_OUTSync">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_TESTWS_OUTSync">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="FMT_Generic_Fault">
        <fault use="literal" name="FMT_Generic_Fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_TESTWS_OUTSyncService">
    <wsdl:port name="SI_TESTWS_OUTSyncPort" binding="p1:SI_TESTWS_OUTSyncBinding">
      <address location="https://portal7.statnipokladna.cz/risre/ws/B_EKIS_SP_TESTWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>