Fáze2/Podklady/Schemata_XSD_automaticka_komunikaci/CoreComponentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Jan Kotrle (ASD Software, s.r.o.) -->
<!--Generated by ASD © ISVS Schema Generator v.0.01a at 2010-04-25T20:09:24. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterm="http://purl.org/dc/terms/" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00a">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi Core Component Types datových typů ISVS. Toto schéma obsahuje definice datových typů, používaných pro schémata jednoduchých a komplexních datových typů ISVS a v rámci celého systému  IS VS ČR. 
			
Schéma vzniklo na základě a s využitím filosofie schématu Core Component Types UBL (Universal Business Language).
			
Copyright 2001-2002 ebXML Group. All Rights reserved
Copyright 2003 ASD Software. Všechna práva vyhrazena© ASD Software s.r.o., 2000 - 2004</xs:documentation>
		<xs:appinfo>
			<rdf:RDF>
				<rdf:Description rdf:about="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xml:lang="cs">
					<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
					<dc:contributor>Martin Šilar (silar@asd-software.cz)</dc:contributor>
					<dc:description>Návrh XML schématu s definicemi Core Component Types datových typů ISVS. Toto schéma obsahuje definice datových typů, používaných pro schémata jednoduchých a komplexních datových typů ISVS a v rámci celého systému  IS VS ČR. 
			
Schéma vzniklo na základě a s využitím filosofie schématu Core Component Types UBL (Universal Business Language).
			
Copyright 2001-2002 ebXML Group. All Rights reserved
Copyright 2003 ASD Software. Všechna práva vyhrazena</dc:description>
					<dc:identifier>urn:cz:isvs:micr:schemas:CoreComponentTypes:v1</dc:identifier>
					<dc:publisher>Ministerstvo vnitra</dc:publisher>
					<dc:rights>© ASD Software s.r.o., 2000 - 2004</dc:rights>
					<dc:type>Dataset</dc:type>
					<dc:rightsholder>Ministerstvo vnitra</dc:rightsholder>
					<dcterm:created>2005-11-10</dcterm:created>
					<dc:subject>Datové prvky; ISVS; Základní typy datových prvků; Informační systémy veřejné správy</dc:subject>
					<dc:format>application/xml</dc:format>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexType name="CenaType">
		<xs:annotation>
			<xs:documentation>Počet pěněžních jednotek ve specifikované či implicitní měně; volitelně spolu s doplňkovou informací o formátu údaje</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Počet pěněžních jednotek ve specifikované či implicitní měně; volitelně spolu s doplňkovou informací o formátu údaje</dc:description>
						<dc:title>CENA</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="menaKod" type="xs:token"/>
				<xs:attribute name="menaCiselnikID" type="xs:token"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KodType">
		<xs:annotation>
			<xs:documentation>Znakový řetězec (písmena, číslice nebo symboly) které mohou z důvodů jasnosti a jazykové nezávislosti nahradit definitivní hodnotu nebo text; volitelně spolu s doplňkovými informacemi o údaji</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Znakový řetězec (písmena, číslice nebo symboly) které mohou z důvodů jasnosti a jazykové nezávislosti nahradit definitivní hodnotu nebo text; volitelně spolu s doplňkovými informacemi o údaji</dc:description>
						<dc:title>KÓD</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="ciselnikID" type="xs:token"/>
				<xs:attribute name="ciselnikSpravceID" type="xs:token"/>
				<xs:attribute name="ciselnikVerzeID" type="xs:token"/>
				<xs:attribute name="kodJmeno" type="xs:string"/>
				<xs:attribute name="jazykKod" type="jazykType"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DatumCasType">
		<xs:annotation>
			<xs:documentation>Hodnota konkrétního bodu v časové ose volitelně spolu s doplňkovou informací o formátu údaje. Používá se pro datum a/nebo čas</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota konkrétního bodu v časové ose volitelně spolu s doplňkovou informací o formátu údaje. Používá se pro datum a/nebo čas</dc:description>
						<dc:title>DATUM A ČAS</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IdentifikatorType">
		<xs:annotation>
			<xs:documentation>Znakový řetězec jednoznačně identifikující instanci příslušného objektu od ostatních objektů v rámci jednoho identifikačního schématu; volitelně spolu s doplňkovými informacemi o údaji</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Znakový řetězec jednoznačně identifikující instanci příslušného objektu od ostatních objektů v rámci jednoho identifikačního schématu; volitelně spolu s doplňkovými informacemi o údaji</dc:description>
						<dc:title>IDENTIFIKÁTOR</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="schemaID" type="xs:token"/>
				<xs:attribute name="schemaSpravceID" type="xs:token"/>
				<xs:attribute name="jazykKod" type="jazykType"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndikatorType">
		<xs:annotation>
			<xs:documentation>Seznam dvou a pouze dvou hodnot, indikujících stavy jako zapnuto/vypnuto, pravda/nepravda apod. Je synonymem pro datový typ “Boolean”; volitelně spolu s doplňkovou informací o formátu údaje</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Seznam dvou a pouze dvou hodnot, indikujících stavy jako zapnuto/vypnuto, pravda/nepravda apod. Je synonymem pro datový typ “Boolean”; volitelně spolu s doplňkovou informací o formátu údaje</dc:description>
						<dc:title>INDIKÁTOR</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="indikatorFormat" type="xs:token"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MereniType">
		<xs:annotation>
			<xs:documentation>Hodnota velikosti, hmotnosti, objemu apod., získaná pomocí procesu měření; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota velikosti, hmotnosti, objemu apod., získaná pomocí procesu měření; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</dc:description>
						<dc:title>MĚŘENÍ</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="jednotkaKod" type="xs:token"/>
				<xs:attribute name="jednotkaCiselnikID" type="xs:token"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MnozstviType">
		<xs:annotation>
			<xs:documentation>Hodnota množství nebo rozsahu; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota množství nebo rozsahu; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</dc:description>
						<dc:title>MNOŽSTVÍ</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="MereniType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PocetType">
		<xs:annotation>
			<xs:documentation>Hodnota počtu; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota počtu; volitelně spolu s doplňkovou informací o jednotce, v níž je údaj vyjádřen</dc:description>
						<dc:title>POČET</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:integer">
				<xs:attribute name="jednotkaKod" type="xs:token"/>
				<xs:attribute name="jednotkaCiselnikID" type="xs:token"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NumerickaHodnotaType">
		<xs:annotation>
			<xs:documentation>Numerická informace, získaná např. výpočtem nebo počítáním. Nevyžaduje nutně jednotku kvantity nebo jednotku měření</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Numerická informace, získaná např. výpočtem nebo počítáním. Nevyžaduje nutně jednotku kvantity nebo jednotku měření</dc:description>
						<dc:title>NUMERICKÁ HODNOTA</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BinarniDataType">
		<xs:annotation>
			<xs:documentation>Binární data kódovaná ve formátu base64 ; volitelně spolu s doplňkovou informací o formátu původních dat</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Binární data kódovaná ve formátu base64 ; volitelně spolu s doplňkovou informací o formátu původních dat</dc:description>
						<dc:title>BINÁRNÍ DATA</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="dataFormat" type="xs:token"/>
				<xs:attribute name="souborJmeno" type="xs:string"/>
				<xs:attribute name="encoding" type="xs:string"/>
				<xs:attribute name="characterSet" type="xs:string"/>
				<xs:attribute name="kodMIME" type="xs:string"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>Znakový řetězec, obecně ve formátu volného textu i více slov; volitelně spolu s doplňkovou informací o jazyku</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Znakový řetězec, obecně ve formátu volného textu i více slov; volitelně spolu s doplňkovou informací o jazyku</dc:description>
						<dc:title>TEXT</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="jazykKod" type="jazykType"/>
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="jazykType">
		<xs:restriction base="xs:language">
			<xs:enumeration value="aa">
				<xs:annotation>
					<xs:documentation>AFAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ab">
				<xs:annotation>
					<xs:documentation>ABKHAZIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="af">
				<xs:annotation>
					<xs:documentation>AFRIKAANS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="am">
				<xs:annotation>
					<xs:documentation>AMHARIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ar">
				<xs:annotation>
					<xs:documentation>ARABIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="as">
				<xs:annotation>
					<xs:documentation>ASSAMESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ay">
				<xs:annotation>
					<xs:documentation>AYMARA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="az">
				<xs:annotation>
					<xs:documentation>AZERBAIJANI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ba">
				<xs:annotation>
					<xs:documentation>BASHKIR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="be">
				<xs:annotation>
					<xs:documentation>BYELORUSSIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bg">
				<xs:annotation>
					<xs:documentation>BULGARIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bh">
				<xs:annotation>
					<xs:documentation>BIHARI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bi">
				<xs:annotation>
					<xs:documentation>BISLAMA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bn">
				<xs:annotation>
					<xs:documentation>BENGALI;BANGLA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bo">
				<xs:annotation>
					<xs:documentation>TIBETAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="br">
				<xs:annotation>
					<xs:documentation>BRETON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ca">
				<xs:annotation>
					<xs:documentation>CATALAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="co">
				<xs:annotation>
					<xs:documentation>CORSICAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cs">
				<xs:annotation>
					<xs:documentation>CZECH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cy">
				<xs:annotation>
					<xs:documentation>WELSH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="da">
				<xs:annotation>
					<xs:documentation>DANISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="de">
				<xs:annotation>
					<xs:documentation>GERMAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dz">
				<xs:annotation>
					<xs:documentation>BHUTANI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="el">
				<xs:annotation>
					<xs:documentation>GREEK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="en">
				<xs:annotation>
					<xs:documentation>ENGLISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="eo">
				<xs:annotation>
					<xs:documentation>ESPERANTO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="es">
				<xs:annotation>
					<xs:documentation>SPANISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="et">
				<xs:annotation>
					<xs:documentation>ESTONIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="eu">
				<xs:annotation>
					<xs:documentation>BASQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fa">
				<xs:annotation>
					<xs:documentation>PERSIAN (farsi)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fi">
				<xs:annotation>
					<xs:documentation>FINNISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fj">
				<xs:annotation>
					<xs:documentation>FIJI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fo">
				<xs:annotation>
					<xs:documentation>FAROESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fr">
				<xs:annotation>
					<xs:documentation>FRENCH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fy">
				<xs:annotation>
					<xs:documentation>FRISIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ga">
				<xs:annotation>
					<xs:documentation>IRISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gd">
				<xs:annotation>
					<xs:documentation>SCOTS GAELIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gl">
				<xs:annotation>
					<xs:documentation>GALICIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gn">
				<xs:annotation>
					<xs:documentation>GUARANI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gu">
				<xs:annotation>
					<xs:documentation>GUJARATI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ha">
				<xs:annotation>
					<xs:documentation>HAUSA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="he">
				<xs:annotation>
					<xs:documentation>HEBREW</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hi">
				<xs:annotation>
					<xs:documentation>HINDI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hr">
				<xs:annotation>
					<xs:documentation>CROATIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hu">
				<xs:annotation>
					<xs:documentation>HUNGARIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hy">
				<xs:annotation>
					<xs:documentation>ARMENIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ia">
				<xs:annotation>
					<xs:documentation>INTERLINGUA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ie">
				<xs:annotation>
					<xs:documentation>INTERLINGUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ik">
				<xs:annotation>
					<xs:documentation>INUPIAK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="id">
				<xs:annotation>
					<xs:documentation>INDONESIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="is">
				<xs:annotation>
					<xs:documentation>ICELANDIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="it">
				<xs:annotation>
					<xs:documentation>ITALIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="iu">
				<xs:annotation>
					<xs:documentation>INUKTITUT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ja">
				<xs:annotation>
					<xs:documentation>JAPANESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="jv">
				<xs:annotation>
					<xs:documentation>JAVANESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ka">
				<xs:annotation>
					<xs:documentation>GEORGIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kk">
				<xs:annotation>
					<xs:documentation>KAZAKH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kl">
				<xs:annotation>
					<xs:documentation>GREENLANDIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="km">
				<xs:annotation>
					<xs:documentation>CAMBODIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="kn">
				<xs:annotation>
					<xs:documentation>KANNADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ko">
				<xs:annotation>
					<xs:documentation>KOREAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ks">
				<xs:annotation>
					<xs:documentation>KASHMIRI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ku">
				<xs:annotation>
					<xs:documentation>KURDISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ky">
				<xs:annotation>
					<xs:documentation>KIRGHIZ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="la">
				<xs:annotation>
					<xs:documentation>LATIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ln">
				<xs:annotation>
					<xs:documentation>LINGALA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lo">
				<xs:annotation>
					<xs:documentation>LAOTHIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lt">
				<xs:annotation>
					<xs:documentation>LITHUANIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lv">
				<xs:annotation>
					<xs:documentation>LATVIAN;LETTISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mg">
				<xs:annotation>
					<xs:documentation>MALAGASY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mi">
				<xs:annotation>
					<xs:documentation>MAORI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mk">
				<xs:annotation>
					<xs:documentation>MACEDONIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ml">
				<xs:annotation>
					<xs:documentation>MALAYALAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mn">
				<xs:annotation>
					<xs:documentation>MONGOLIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mo">
				<xs:annotation>
					<xs:documentation>MOLDAVIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mr">
				<xs:annotation>
					<xs:documentation>MARATHI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ms">
				<xs:annotation>
					<xs:documentation>MALAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mt">
				<xs:annotation>
					<xs:documentation>MALTESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="my">
				<xs:annotation>
					<xs:documentation>BURMESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="na">
				<xs:annotation>
					<xs:documentation>NAURU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ne">
				<xs:annotation>
					<xs:documentation>NEPALI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nl">
				<xs:annotation>
					<xs:documentation>DUTCH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="no">
				<xs:annotation>
					<xs:documentation>NORWEGIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oc">
				<xs:annotation>
					<xs:documentation>OCCITAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="om">
				<xs:annotation>
					<xs:documentation>AFAN (OROMO)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="or">
				<xs:annotation>
					<xs:documentation>ORIYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pa">
				<xs:annotation>
					<xs:documentation>PUNJABI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pl">
				<xs:annotation>
					<xs:documentation>POLISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ps">
				<xs:annotation>
					<xs:documentation>PASHTO;PUSHTO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pt">
				<xs:annotation>
					<xs:documentation>PORTUGUESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="qu">
				<xs:annotation>
					<xs:documentation>QUECHUA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rm">
				<xs:annotation>
					<xs:documentation>RHAETO-ROMANCE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rn">
				<xs:annotation>
					<xs:documentation>KURUNDI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ro">
				<xs:annotation>
					<xs:documentation>ROMANIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ru">
				<xs:annotation>
					<xs:documentation>RUSSIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rw">
				<xs:annotation>
					<xs:documentation>KINYARWANDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sa">
				<xs:annotation>
					<xs:documentation>SANSKRIT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sd">
				<xs:annotation>
					<xs:documentation>SINDHI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sg">
				<xs:annotation>
					<xs:documentation>SANGHO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sh">
				<xs:annotation>
					<xs:documentation>SERBO-CROATIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="si">
				<xs:annotation>
					<xs:documentation>SINGHALESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sk">
				<xs:annotation>
					<xs:documentation>SLOVAK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sl">
				<xs:annotation>
					<xs:documentation>SLOVENIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sm">
				<xs:annotation>
					<xs:documentation>SAMOAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sn">
				<xs:annotation>
					<xs:documentation>SHONA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="so">
				<xs:annotation>
					<xs:documentation>SOMALI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sq">
				<xs:annotation>
					<xs:documentation>ALBANIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sr">
				<xs:annotation>
					<xs:documentation>SERBIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ss">
				<xs:annotation>
					<xs:documentation>SISWATI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="st">
				<xs:annotation>
					<xs:documentation>SESOTHO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="su">
				<xs:annotation>
					<xs:documentation>SUNDANESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sv">
				<xs:annotation>
					<xs:documentation>SWEDISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sw">
				<xs:annotation>
					<xs:documentation>SWAHILI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ta">
				<xs:annotation>
					<xs:documentation>TAMIL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="te">
				<xs:annotation>
					<xs:documentation>TELUGU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tg">
				<xs:annotation>
					<xs:documentation>TAJIK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="th">
				<xs:annotation>
					<xs:documentation>THAI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ti">
				<xs:annotation>
					<xs:documentation>TIGRINYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tk">
				<xs:annotation>
					<xs:documentation>TURKMEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tl">
				<xs:annotation>
					<xs:documentation>TAGALOG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tn">
				<xs:annotation>
					<xs:documentation>SETSWANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="to">
				<xs:annotation>
					<xs:documentation>TONGA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tr">
				<xs:annotation>
					<xs:documentation>TURKISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ts">
				<xs:annotation>
					<xs:documentation>TSONGA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tt">
				<xs:annotation>
					<xs:documentation>TATAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tw">
				<xs:annotation>
					<xs:documentation>TWI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ug">
				<xs:annotation>
					<xs:documentation>UIGUR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uk">
				<xs:annotation>
					<xs:documentation>UKRAINIAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ur">
				<xs:annotation>
					<xs:documentation>URDU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uz">
				<xs:annotation>
					<xs:documentation>UZBEK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vi">
				<xs:annotation>
					<xs:documentation>VIETNAMESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vo">
				<xs:annotation>
					<xs:documentation>VOLAPUK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="wo">
				<xs:annotation>
					<xs:documentation>WOLOF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="xh">
				<xs:annotation>
					<xs:documentation>XHOSA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="yi">
				<xs:annotation>
					<xs:documentation>YIDDISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="yo">
				<xs:annotation>
					<xs:documentation>YORUBA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="za">
				<xs:annotation>
					<xs:documentation>ZHUANG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="zh">
				<xs:annotation>
					<xs:documentation>CHINESE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="zu">
				<xs:annotation>
					<xs:documentation>ZULU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ObrazType">
		<xs:annotation>
			<xs:documentation>Vizuální zpodobnění osoby, objektu nebo prostředí.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Vizuální zpodobnění osoby, objektu nebo prostředí.</dc:description>
						<dc:title>OBRAZ</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="BinarniDataType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndikatorXmlType">
		<xs:annotation>
			<xs:documentation>Seznam dvou logických hodnot, vycházející z datového typu "Boolean" XML Schema. Nabývá pouze hodnot "true" nebo "false".</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Seznam dvou logických hodnot, vycházející z datového typu "Boolean" XML Schema. Nabývá pouze hodnot "true" nebo "false".</dc:description>
						<dc:title>INDIKÁTOR XML</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VideoType">
		<xs:annotation>
			<xs:documentation>Binární objekt, ve kterém je zakódována schopnost vytvořit video.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Binární objekt, ve kterém je zakódována schopnost vytvořit video.</dc:description>
						<dc:title>VIDEO</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="BinarniDataType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NazevType">
		<xs:annotation>
			<xs:documentation>Slovo nebo slovní spojení, které jasně a výrazně odlišuje objekt (např. osobu, místo, ekonomický subjekt) od ostatních podobných objektů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Slovo nebo slovní spojení, které jasně a výrazně odlišuje objekt (např. osobu, místo, ekonomický subjekt) od ostatních podobných objektů.</dc:description>
						<dc:title>NÁZEV</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="TextType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ZvukType">
		<xs:annotation>
			<xs:documentation>Binární objekt, ve kterém je zakódována schopnost vytvořit zvuk.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Binární objekt, ve kterém je zakódována schopnost vytvořit zvuk.</dc:description>
						<dc:title>ZVUK</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="BinarniDataType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CasType">
		<xs:annotation>
			<xs:documentation>Hodnota konkrétního bodu v čase v rámci (nespecifikovaného) dne.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota konkrétního bodu v čase v rámci (nespecifikovaného) dne.</dc:description>
						<dc:title>ČAS OBECNÝ</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:time">
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProcentoType">
		<xs:annotation>
			<xs:documentation>Poměr, vyjádřený v setinách, mezi dvěma hodnotami se stejnými měrnými jednotkami.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Poměr, vyjádřený v setinách, mezi dvěma hodnotami se stejnými měrnými jednotkami.</dc:description>
						<dc:title>PROCENTO</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="NumerickaHodnotaType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GrafikaType">
		<xs:annotation>
			<xs:documentation>Diagram, graf, matematická křivka nebo podobná reprezentace.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Diagram, graf, matematická křivka nebo podobná reprezentace.</dc:description>
						<dc:title>GRAFIKA</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="BinarniDataType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DatumType">
		<xs:annotation>
			<xs:documentation>Hodnota specifikující určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Alois Svoboda (alois.svoboda@micr.cz)</dc:creator>
						<dc:contributor>Eva Kříhová (eva.krihova@micr.cz); Pavel Benda (benda@asd-software.cz)</dc:contributor>
						<dc:description>Hodnota specifikující určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.</dc:description>
						<dc:title>DATUM OBECNÉ</dc:title>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attribute name="objektID" type="xs:token"/>
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
