Fáze2/Podklady/Schemata_XSD_automaticka_komunikaci/isvs_business.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Jan Kotrle (ASD Software, s.r.o.) -->
<!--Generated by ASD © ISVS Schema Generator v.0.01a at 2010-04-25T20:09:21. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="urn:cz:isvs:micr:schemas:BusinessTypes:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterm="http://purl.org/dc/terms/" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:spa="urn:cz:isvs:micr:schemas:SpaceTypes:v1" xmlns:cmn="urn:cz:isvs:micr:schemas:CommonTypes:v1" xmlns:per="urn:cz:isvs:micr:schemas:PersonTypes:v2" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:cz:isvs:micr:schemas:BusinessTypes:v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02a">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi jednoduchých datových prvků ISVS verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro isentifikaci a popis ekonomického subjektu. Toto schéma mohou využívat schémata ISVS v rámci celého systému  IS VS ČR© ASD Software s.r.o., 2000 - 2004</xs:documentation>
		<xs:appinfo>
			<rdf:RDF>
				<rdf:Description rdf:about="urn:cz:isvs:micr:schemas:BusinessTypes:v2" xml:lang="cs">
					<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
					<dc:contributor>Martin Šilar (silar@asd-software.cz)</dc:contributor>
					<dc:description>Návrh XML schématu s definicemi jednoduchých datových prvků ISVS verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro isentifikaci a popis ekonomického subjektu. Toto schéma mohou využívat schémata ISVS v rámci celého systému  IS VS ČR</dc:description>
					<dc:identifier>urn:cz:isvs:micr:schemas:BusinessTypes:v2</dc:identifier>
					<dc:publisher>Ministerstvo vnitra</dc:publisher>
					<dc:rights>© ASD Software s.r.o., 2000 - 2004</dc:rights>
					<dc:type>Dataset</dc:type>
					<dc:rightsholder>Ministerstvo vnitra</dc:rightsholder>
					<dcterm:created>2004-08-31</dcterm:created>
					<dc:subject>Datové prvky; ISVS; DATOVÉ PRVKY K IDENTIFIKACI A POPISU EKONOMICKÉHO; Informační systémy veřejné správy</dc:subject>
					<dc:format>application/xml</dc:format>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" schemaLocation="CoreComponentTypes.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:SpaceTypes:v1" schemaLocation="isvs_space.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" schemaLocation="isvs_common.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:PersonTypes:v2" schemaLocation="isvs_person.xsd"/>
	<xs:complexType name="SubjektPlatceDaneEUiDType">
		<xs:annotation>
			<xs:documentation>Datový prvek, který slouží k identifikaci a registraci plátce daní v rámci EU. Je vytvořen podle legislativy jednotlivých států EU</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek, který slouží k identifikaci a registraci plátce daní v rámci EU. Je vytvořen podle legislativy jednotlivých států EU</dc:description>
						<dc:title>KÓD PLÁTCE DANĚ V EU</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="12"/>
				<xs:minLength value="6"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektPlatceDaneEUiD" type="SubjektPlatceDaneEUiDType">
		<xs:annotation>
			<xs:documentation>SubjektPlatceDaneEUiDType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="KontaktDruhType">
		<xs:annotation>
			<xs:documentation>Typ kontaktního údaje. 1 – telefon, 2 – mobilní telefon, 3 fax, 4 e-mail adresa, 5 – www prezentace</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Typ kontaktního údaje. 1 – telefon, 2 – mobilní telefon, 3 fax, 4 e-mail adresa, 5 – www prezentace</dc:description>
						<dc:title>TYP KONTAKTNÍHO ÚDAJE</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>telefon</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>mobilní telefon</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>fax</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>e-mail adresa</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>www prezentace</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="KontaktDruh" type="KontaktDruhType">
		<xs:annotation>
			<xs:documentation>KontaktDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektICOType">
		<xs:annotation>
			<xs:documentation>Identifikační číslo (IČ) je číslicový pořadový kód, který slouží k jednoznačné identifikaci ekonomických subjektů. Ekonomickým subjektem je každá právnická osoba a dále fyzické osoby, které mají podle zvláštního předpisu postavení podnikatele.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Identifikační číslo (IČ) je číslicový pořadový kód, který slouží k jednoznačné identifikaci ekonomických subjektů. Ekonomickým subjektem je každá právnická osoba a dále fyzické osoby, které mají podle zvláštního předpisu postavení podnikatele.</dc:description>
						<dc:title>IDENTIFIKAČNÍ ČÍSLO (IČ)</dc:title>
						<dcterm:created>19940601</dcterm:created>
						<dcterm:valid>–</dcterm:valid>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="8"/>
				<xs:minLength value="8"/>
				<xs:pattern value="\d{8}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektICO" type="SubjektICOType">
		<xs:annotation>
			<xs:documentation>SubjektICOType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektPredmetPodnikaniType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření činností prováděných právnickými nebo fyzickými osobami.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření činností prováděných právnickými nebo fyzickými osobami.</dc:description>
						<dc:title>NÁZEV EKONOMICKÉ ČINNOSTI</dc:title>
						<dcterm:created>19940601</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="254"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektPredmetPodnikani" type="SubjektPredmetPodnikaniType">
		<xs:annotation>
			<xs:documentation>SubjektPredmetPodnikaniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektPravniFormaKodType">
		<xs:annotation>
			<xs:documentation>Právní forma ekonomického subjektu označuje formu subjektivity, a to takovou, v níž je ekonomický subjekt schopen mít práva a povinnosti při podnikatelské činnosti.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Právní forma ekonomického subjektu označuje formu subjektivity, a to takovou, v níž je ekonomický subjekt schopen mít práva a povinnosti při podnikatelské činnosti.</dc:description>
						<dc:title>PRÁVNÍ FORMA EKONOMICKÉHO SUBJEKTU</dc:title>
						<dcterm:created>19940601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="3"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektPravniFormaKod" type="SubjektPravniFormaKodType">
		<xs:annotation>
			<xs:documentation>SubjektPravniFormaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektObchodniJmenoType">
		<xs:annotation>
			<xs:documentation>Obchodním jménem se rozumí název, pod kterým podnikatel činí právní úkony při své podnikatelské činnosti. Obchodní jméno fyzické osoby je její jméno a příjmení, popř. dodatek, odlišující osobu podnikatele nebo druh podnikání. Obchodní jméno obchodních společností a družstev je název, pod kterým jsou zapsány v obchodním rejstříku resp. živnostenském rejstříku. Součástí obchodního jména právnické osoby je i dodatek označující jejich právní formu. Obchodním jménem právnické osoby, která se nezapisuje do obchodního rejstříku, je název, pod kterým byla zřízena.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Obchodním jménem se rozumí název, pod kterým podnikatel činí právní úkony při své podnikatelské činnosti. Obchodní jméno fyzické osoby je její jméno a příjmení, popř. dodatek, odlišující osobu podnikatele nebo druh podnikání. Obchodní jméno obchodních společností a družstev je název, pod kterým jsou zapsány v obchodním rejstříku resp. živnostenském rejstříku. Součástí obchodního jména právnické osoby je i dodatek označující jejich právní formu. Obchodním jménem právnické osoby, která se nezapisuje do obchodního rejstříku, je název, pod kterým byla zřízena.</dc:description>
						<dc:title>OBCHODNÍ JMÉNO</dc:title>
						<dcterm:created>19940601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektObchodniJmeno" type="SubjektObchodniJmenoType">
		<xs:annotation>
			<xs:documentation>SubjektObchodniJmenoType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektUradRegistraceKodType">
		<xs:annotation>
			<xs:documentation>Kód (datový prvek), který udává úřad, jenž provedl registraci ekonomického subjektu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód (datový prvek), který udává úřad, jenž provedl registraci ekonomického subjektu.</dc:description>
						<dc:title>KÓD ÚŘADU PŮVODU REGISTRACE EKONOMICKÉHO SUBJEKTU</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="7"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\p{Lu}{7})|(\p{Lu}{2}\d{2,3})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektUradRegistraceKod" type="SubjektUradRegistraceKodType">
		<xs:annotation>
			<xs:documentation>SubjektUradRegistraceKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektKategorieKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro označení kategorie zaměstnavatele podle evidenčního počtu zaměstnanců.
Pozn.: zpravodajská jednotka uvede počet zaměstnanců a Český statistický úřad provede zařazení do kategorie podle počtu zaměstnanců.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro označení kategorie zaměstnavatele podle evidenčního počtu zaměstnanců.
Pozn.: zpravodajská jednotka uvede počet zaměstnanců a Český statistický úřad provede zařazení do kategorie podle počtu zaměstnanců.</dc:description>
						<dc:title>KATEGORIE ZAMĚSTNAVATELE PODLE POČTU ZAMĚSTNANCŮ</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="3"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektKategorieKod" type="SubjektKategorieKodType">
		<xs:annotation>
			<xs:documentation>SubjektKategorieKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektPlatceDaneIDType">
		<xs:annotation>
			<xs:documentation>Datový prvek, který slouží k identifikaci a registraci plátce daní. Je vytvořen podle jedné z možností:
a) rodné číslo u fyzických osob
1. občanů ČR,
2. cizinců, kteří mají povoleno podnikat na území ČR a bylo jim přiděleno rodné číslo
b) IČ u právnických osob,
c) vlastní číslo plátce přiděluje finanční úřad v případě
1. občanů ČR s duplicitním rodným číslem
2. fyzické osoby – cizince, který má povolení podnikat v ČR a nemá přiděleno rodné číslo
3. právnické osoby pokud nemá přiděleno IČ (různé spolky)
d) číslo plátcovy pokladny – přiděluje finanční úřad podle § 4 odst. 9 a 10 zákona č. 337/92 Sb., o správě daní a poplatků ve znění zákona č. 35/93 Sb.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek, který slouží k identifikaci a registraci plátce daní. Je vytvořen podle jedné z možností:
a) rodné číslo u fyzických osob
1. občanů ČR,
2. cizinců, kteří mají povoleno podnikat na území ČR a bylo jim přiděleno rodné číslo
b) IČ u právnických osob,
c) vlastní číslo plátce přiděluje finanční úřad v případě
1. občanů ČR s duplicitním rodným číslem
2. fyzické osoby – cizince, který má povolení podnikat v ČR a nemá přiděleno rodné číslo
3. právnické osoby pokud nemá přiděleno IČ (různé spolky)
d) číslo plátcovy pokladny – přiděluje finanční úřad podle § 4 odst. 9 a 10 zákona č. 337/92 Sb., o správě daní a poplatků ve znění zákona č. 35/93 Sb.</dc:description>
						<dc:title>KÓD PLÁTCE DANĚ</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="8"/>
				<xs:pattern value="(\d{2}(10|11|12|60|61|62|(0|5)[1-9])(31|30|[1-2]\d|0[1-9])\d{3,4})|(\d{2}(10|11|12|60|61|62|(0|5)\d)(31|30|[0-2]\d)([0-9]{4}|\s{4}))|(\d{8})|([6-7][0-9]{2}[1-9][0-9]{3}[1-9][6-9])"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektPlatceDaneID" type="SubjektPlatceDaneIDType">
		<xs:annotation>
			<xs:documentation>SubjektPlatceDaneIDType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FinancniUradKodType">
		<xs:annotation>
			<xs:documentation>Třímístný číselný kód jednoznačně identifikující finanční úřad.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Třímístný číselný kód jednoznačně identifikující finanční úřad.</dc:description>
						<dc:title>KÓD FINANČNÍHO ÚŘADU</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="3"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="FinancniUradKod" type="FinancniUradKodType">
		<xs:annotation>
			<xs:documentation>FinancniUradKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProdukceKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové vyjádření základního třídění všech výrobků (zboží), prací výrobní povahy, služeb, výkonů včetně oprav, údržby, montáží a instalací a třídění stavebních prací.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové vyjádření základního třídění všech výrobků (zboží), prací výrobní povahy, služeb, výkonů včetně oprav, údržby, montáží a instalací a třídění stavebních prací.</dc:description>
						<dc:title>KÓD PRODUKCE</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="8"/>
				<xs:minLength value="2"/>
				<xs:pattern value="\d{2,8}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="ProdukceKod" type="ProdukceKodType">
		<xs:annotation>
			<xs:documentation>ProdukceKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EkonomickaCinnostKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové vyjádření činností prováděných právnickými nebo fyzickými osobami.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové vyjádření činností prováděných právnickými nebo fyzickými osobami.</dc:description>
						<dc:title>KÓD EKONOMICKÉ ČINNOSTI</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:valid>–</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="7"/>
				<xs:minLength value="2"/>
				<xs:pattern value="\p{Lu}{1,2}\d{0,5}|\d{2,5}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="EkonomickaCinnostKod" type="EkonomickaCinnostKodType">
		<xs:annotation>
			<xs:documentation>EkonomickaCinnostKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektProvozType">
		<xs:annotation>
			<xs:documentation>Slovní označení provozovny.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní označení provozovny.</dc:description>
						<dc:title>NÁZEV PROVOZOVNY</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="70"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektProvoz" type="SubjektProvozType">
		<xs:annotation>
			<xs:documentation>SubjektProvozType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="StatutarniOrganDruhType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření typu statutárního orgánu ekonomického subjektu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření typu statutárního orgánu ekonomického subjektu.</dc:description>
						<dc:title>TYP STATUTÁRNÍHO ORGÁNU</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="30"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\p{L}|[\-]|[ ]){2,30}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="StatutarniOrganDruh" type="StatutarniOrganDruhType">
		<xs:annotation>
			<xs:documentation>StatutarniOrganDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OpravneniPodnikaniDruhType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření druhu dokladu, kterým ekonomický subjekt potvrzuje své oprávnění k podnikání.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření druhu dokladu, kterým ekonomický subjekt potvrzuje své oprávnění k podnikání.</dc:description>
						<dc:title>DRUH OPRÁVNĚNÍ K PODNIKÁNÍ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="není"/>
				<xs:enumeration value="živnostenský list pro volnou živnost"/>
				<xs:enumeration value="živnostenský list pro vázanou živnost"/>
				<xs:enumeration value="živnostenský list pro řemeslnou živnost"/>
				<xs:enumeration value="koncesní listina"/>
				<xs:enumeration value="doklad o registraci"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OpravneniPodnikaniDruh" type="OpravneniPodnikaniDruhType">
		<xs:annotation>
			<xs:documentation>OpravneniPodnikaniDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OpravneniPodnikaniDruhKodType">
		<xs:annotation>
			<xs:documentation>Kód druhu dokladu, kterým ekonomický subjekt potvrzuje své oprávnění k podnikání.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód druhu dokladu, kterým ekonomický subjekt potvrzuje své oprávnění k podnikání.</dc:description>
						<dc:title>KÓD DRUHU OPRÁVNĚNÍ K PODNIKÁNÍ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="0">
					<xs:annotation>
						<xs:documentation>není</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>živnostenský list pro volnou živnost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>živnostenský list pro vázanou živnost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>živnostenský list pro řemeslnou živnost</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>koncesní listina</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>doklad o registraci ekonomického subjektu vydaný právnickou osobou nebo správním úřadem, který podle zvláštních předpisů vydává doklady o oprávnění k podnikatelské činnosti</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OpravneniPodnikaniDruhKod" type="OpravneniPodnikaniDruhKodType">
		<xs:annotation>
			<xs:documentation>OpravneniPodnikaniDruhKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InstitucionalniSektorKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení příslušnosti ekonomického subjektu do daného institucionálního sektoru, příp. subsektoru.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení příslušnosti ekonomického subjektu do daného institucionálního sektoru, příp. subsektoru.</dc:description>
						<dc:title>KÓD INSTITUCIONÁLNÍCH SEKTORŮ A SUBSEKTORŮ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="5"/>
				<xs:minLength value="2"/>
				<xs:pattern value="\d{2,5}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="InstitucionalniSektorKod" type="InstitucionalniSektorKodType">
		<xs:annotation>
			<xs:documentation>InstitucionalniSektorKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektZakladniJmeniType">
		<xs:annotation>
			<xs:documentation>Výše základního kapitálu právnické osoby v Kč.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Výše základního kapitálu právnické osoby v Kč.</dc:description>
						<dc:title>ZÁKLADNÍ KAPITÁL</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cmn:FinancniCastkaType">
				<xs:pattern value="0|[1-9]{1}\d{0,13}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektZakladniJmeni" type="SubjektZakladniJmeniType">
		<xs:annotation>
			<xs:documentation>SubjektZakladniJmeniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektZamestnanciEvidencniPocetType">
		<xs:annotation>
			<xs:documentation>Počet různých fyzických osob, které ekonomický subjekt zaměstnává k danému dni, bez rozlišení druhu pracovního poměru a toho, že jedna fyzická osoba může u téhož zaměstnavatele vykonávat dvě různá zaměstnání (v takovém případě se počítá jen jako jedna osoba).</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Počet různých fyzických osob, které ekonomický subjekt zaměstnává k danému dni, bez rozlišení druhu pracovního poměru a toho, že jedna fyzická osoba může u téhož zaměstnavatele vykonávat dvě různá zaměstnání (v takovém případě se počítá jen jako jedna osoba).</dc:description>
						<dc:title>EVIDENČNÍ POČET ZAMĚSTNANCŮ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:PocetType">
				<xs:pattern value="0|[1-9]{1}\d{0,5}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektZamestnanciEvidencniPocet" type="SubjektZamestnanciEvidencniPocetType">
		<xs:annotation>
			<xs:documentation>SubjektZamestnanciEvidencniPocetType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektVlastnikPodilType">
		<xs:annotation>
			<xs:documentation>Vlastnický podíl určuje, jakou část vlastnictví obchodní společnosti nebo nemovitosti má daný spoluvlastník, tj. jaký je jeho majetkový podíl nebo obchodní podíl. Vlastnický podíl je vyjádřen jako:
a) zlomek dvou celých nejvýše čtyřmístných nesoudělných čísel, mezi nimiž se zapisuje znak lomítka (např. 3/7, 1/1)
b) devítimístným číslem, kde první čtyři místa je čitatel zlomku a posledních pět míst je jmenovatel zlomku.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Vlastnický podíl určuje, jakou část vlastnictví obchodní společnosti nebo nemovitosti má daný spoluvlastník, tj. jaký je jeho majetkový podíl nebo obchodní podíl. Vlastnický podíl je vyjádřen jako:
a) zlomek dvou celých nejvýše čtyřmístných nesoudělných čísel, mezi nimiž se zapisuje znak lomítka (např. 3/7, 1/1)
b) devítimístným číslem, kde první čtyři místa je čitatel zlomku a posledních pět míst je jmenovatel zlomku.</dc:description>
						<dc:title>VLASTNICKÝ PODÍL</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="9"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\d{1,4}[/]\d{1,4})|(\d{2,9})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektVlastnikPodil" type="SubjektVlastnikPodilType">
		<xs:annotation>
			<xs:documentation>SubjektVlastnikPodilType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektObchodniJmenoZkraceneType">
		<xs:annotation>
			<xs:documentation>Zkrácené obchodní jméno pro ruční vyhledávání podle obchodního jména, nebo pro vytváření přehledů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Zkrácené obchodní jméno pro ruční vyhledávání podle obchodního jména, nebo pro vytváření přehledů.</dc:description>
						<dc:title>ZKRÁCENÉ OBCHODNÍ JMÉNO</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="35"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektObchodniJmenoZkracene" type="SubjektObchodniJmenoZkraceneType">
		<xs:annotation>
			<xs:documentation>SubjektObchodniJmenoZkraceneType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VladniInstituceFunkceKodType">
		<xs:annotation>
			<xs:documentation>Kódové vyjádření funkce resp. výdaje jednotlivé vládní instituce. Funkcí se rozumí určitá oblast činností, v níž daná instituce, případně i jeho jednotlivé dílčí orgány (útvary), působí.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kódové vyjádření funkce resp. výdaje jednotlivé vládní instituce. Funkcí se rozumí určitá oblast činností, v níž daná instituce, případně i jeho jednotlivé dílčí orgány (útvary), působí.</dc:description>
						<dc:title>KÓD FUNKCE VLÁDNÍ INSTITUCE</dc:title>
						<dcterm:created>20030801</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="4"/>
				<xs:minLength value="4"/>
				<xs:pattern value="(\d{4})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VladniInstituceFunkceKod" type="VladniInstituceFunkceKodType">
		<xs:annotation>
			<xs:documentation>VladniInstituceFunkceKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VladniInstituceFunkceType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření funkce resp. výdaje jednotlivé vládní instituce. Funkcí se rozumí určitá oblast činností, v níž daná instituce, případně i jeho jednotlivé dílčí orgány (či útvary), působí.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření funkce resp. výdaje jednotlivé vládní instituce. Funkcí se rozumí určitá oblast činností, v níž daná instituce, případně i jeho jednotlivé dílčí orgány (či útvary), působí.</dc:description>
						<dc:title>NÁZEV FUNKCE VLÁDNÍ INSTITUCE</dc:title>
						<dcterm:created>20030801</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="240"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VladniInstituceFunkce" type="VladniInstituceFunkceType">
		<xs:annotation>
			<xs:documentation>VladniInstituceFunkceType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NeziskovaInstituceSluzbaKodType">
		<xs:annotation>
			<xs:documentation>Kódové vyjádření služby resp. výdaje neziskové instituce sloužící domácnostem (NISD) podle účelu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kódové vyjádření služby resp. výdaje neziskové instituce sloužící domácnostem (NISD) podle účelu.</dc:description>
						<dc:title>KÓD SLUŽBY NEZISKOVÉ INSTITUCE SLOUŽÍCÍ DOMÁCNOSTEM</dc:title>
						<dcterm:created>20030801</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="4"/>
				<xs:minLength value="4"/>
				<xs:pattern value="(\d{4})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="NeziskovaInstituceSluzbaKod" type="NeziskovaInstituceSluzbaKodType">
		<xs:annotation>
			<xs:documentation>NeziskovaInstituceSluzbaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NeziskovaInstituceSluzbaType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření služby resp. výdaje neziskové instituce domácnostem (NISD) podle účelu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření služby resp. výdaje neziskové instituce domácnostem (NISD) podle účelu.</dc:description>
						<dc:title>NÁZEV SLUŽBY NEZISKOVÉ INSTITUCE SLOUŽÍCÍ DOMÁCNOSTEM</dc:title>
						<dcterm:created>20030801</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="240"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="NeziskovaInstituceSluzba" type="NeziskovaInstituceSluzbaType">
		<xs:annotation>
			<xs:documentation>NeziskovaInstituceSluzbaType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrganizaceMalyStredniPodnikIndikatorType">
		<xs:annotation>
			<xs:documentation>Příznak, zda podnikatelský subjekt spadá do kategorie "malé a střední podniky".</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Příznak, zda podnikatelský subjekt spadá do kategorie "malé a střední podniky".</dc:description>
						<dc:title>PŘÍZNAK MALÉHO A STŘEDNÍHO PODNIKU</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IndikatorType">
				<xs:pattern value="Y|N"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OrganizaceMalyStredniPodnikIndikator" type="OrganizaceMalyStredniPodnikIndikatorType">
		<xs:annotation>
			<xs:documentation>OrganizaceMalyStredniPodnikIndikatorType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OrganizacePlatceDPHIndikatorType">
		<xs:annotation>
			<xs:documentation>Příznak, zda je subjekt plátcem DPH.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Příznak, zda je subjekt plátcem DPH.</dc:description>
						<dc:title>PŘÍZNAK PLÁTCE DPH</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IndikatorType">
				<xs:pattern value="Y|N"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OrganizacePlatceDPHIndikator" type="OrganizacePlatceDPHIndikatorType">
		<xs:annotation>
			<xs:documentation>OrganizacePlatceDPHIndikatorType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektPravniFormaNazevType">
		<xs:annotation>
			<xs:documentation>Tvrzení vyjadřující podstatu právní formy subjektu. Právní forma ekonomického subjektu označuje formu subjektivity, a to takovou, v níž je ekonomický subjekt schopen mít práva a povinnosti při podnikatelské činnosti. Vychází z číselníku právních forem, poskytovaného MF.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Tvrzení vyjadřující podstatu právní formy subjektu. Právní forma ekonomického subjektu označuje formu subjektivity, a to takovou, v níž je ekonomický subjekt schopen mít práva a povinnosti při podnikatelské činnosti. Vychází z číselníku právních forem, poskytovaného MF.</dc:description>
						<dc:title>NÁZEV PRÁVNÍ FORMY SUBJEKTU</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:NazevType">
				<xs:maxLength value="150"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SubjektPravniFormaNazev" type="SubjektPravniFormaNazevType">
		<xs:annotation>
			<xs:documentation>SubjektPravniFormaNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CinnostEkonomickaNACENazevType">
		<xs:annotation>
			<xs:documentation>Název činnosti prováděné právnickými nebo fyzickými osobami podle klasifikace CZ-NACE.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Název činnosti prováděné právnickými nebo fyzickými osobami podle klasifikace CZ-NACE.</dc:description>
						<dc:title>NÁZEV EKONOMICKÉ ČINNOSTI SUBJEKTU DLE KLASIFIKACE NACE</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:NazevType">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CinnostEkonomickaNACENazev" type="CinnostEkonomickaNACENazevType">
		<xs:annotation>
			<xs:documentation>CinnostEkonomickaNACENazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ObchodniKontaktStructure">
		<xs:annotation>
			<xs:documentation>Identifikační údaje obchodního kontaktu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Identifikační údaje obchodního kontaktu.</dc:description>
						<dc:title>IDENTIFIKACE KONTAKTU</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Osoba" type="per:OsobaIdentitaStructure"/>
					<xs:element name="OsobaFunkce" type="per:OsobaZamestnaniPostaveniType" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="KontaktPopis" type="cct:TextType"/>
			</xs:choice>
			<xs:element name="KontaktniUdaj" type="KontaktniUdajStructure" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="ObchodniKontakt" type="ObchodniKontaktStructure">
		<xs:annotation>
			<xs:documentation>ObchodniKontaktStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="KontaktniUdajStructure">
		<xs:annotation>
			<xs:documentation>Údaje hodnoty kontaktu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Údaje hodnoty kontaktu.</dc:description>
						<dc:title>KONTAKTNÍ ÚDAJ</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hodnota" type="cct:TextType"/>
			<xs:element name="KontaktDruh" type="KontaktDruhType"/>
			<xs:element ref="cmn:Rozsireni" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="KontaktniUdaj" type="KontaktniUdajStructure">
		<xs:annotation>
			<xs:documentation>KontaktniUdajStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektUradRegistraceStructure">
		<xs:annotation>
			<xs:documentation>Udává název a obec sídla úřadu kompetentního k registraci ekonomického subjektu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Udává název a obec sídla úřadu kompetentního k registraci ekonomického subjektu.</dc:description>
						<dc:title>ÚŘAD PŮVODU REGISTRACE EKONOMICKÉHO SUBJEKTU</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="SubjektUradRegistraceKod"/>
			<xs:choice>
				<xs:element name="ObecKod" type="spa:ObecKodType"/>
				<xs:element name="MestskaCastKod" type="spa:MestskaCastKodType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="SubjektUradRegistrace" type="SubjektUradRegistraceStructure">
		<xs:annotation>
			<xs:documentation>SubjektUradRegistraceStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektIdentifikaceStructure">
		<xs:annotation>
			<xs:documentation>Údaje, které umožňují jednoznačně identifikovat ekonomický subjekt včetně jeho sídla, jde-li o právnickou osobu, nebo místa podnikání, jde-li o fyzickou osobu, která má podle zvláštních předpisů (zejména Obchodní zákoník) postavení podnikatele</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Údaje, které umožňují jednoznačně identifikovat ekonomický subjekt včetně jeho sídla, jde-li o právnickou osobu, nebo místa podnikání, jde-li o fyzickou osobu, která má podle zvláštních předpisů (zejména Obchodní zákoník) postavení podnikatele</dc:description>
						<dc:title>IDENTIFIKACE EKONOMICKÉHO SUBJEKTU</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ICO" type="SubjektICOType"/>
			<xs:element name="DIC" type="SubjektDICStructure"/>
			<xs:element name="ObchodniJmeno" type="SubjektObchodniJmenoType" maxOccurs="unbounded"/>
			<xs:element name="SidloAdresa" type="spa:ObjektAdresaNazvyStructure"/>
			<xs:element ref="cmn:Rozsireni" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="SubjektIdentifikace" type="SubjektIdentifikaceStructure">
		<xs:annotation>
			<xs:documentation>SubjektIdentifikaceStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SubjektDICStructure">
		<xs:annotation>
			<xs:documentation>DIČ je složený datový prvek, který slouží k identifikaci a registraci plátce daní. DIČ se skládá z dílčích datových prvků:
1. z třímístného kódu příslušného finančního úřadu
2. kódu plátce daně</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>DIČ je složený datový prvek, který slouží k identifikaci a registraci plátce daní. DIČ se skládá z dílčích datových prvků:
1. z třímístného kódu příslušného finančního úřadu
2. kódu plátce daně</dc:description>
						<dc:title>DAŇOVÉ IDENTIFIKAČNÍ ČÍSLO (DIČ)</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="FinancniUradKod"/>
					<xs:element ref="SubjektPlatceDaneID"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="StatKod" type="spa:StatKodOmezenyType"/>
					<xs:element ref="SubjektPlatceDaneEUiD"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="SubjektDIC" type="SubjektDICStructure">
		<xs:annotation>
			<xs:documentation>SubjektDICStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
