Fáze2/Podklady/Schemata_XSD_automaticka_komunikaci/isvs_person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Pavel Burda (ASD-Software) -->
<!--Generated by ASD © ISVS Schema Generator v.0.01a at 2006-02-20T21:25:19. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="urn:cz:isvs:micr:schemas:PersonTypes:v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterm="http://purl.org/dc/terms/" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:spa="urn:cz:isvs:micr:schemas:SpaceTypes:v1" xmlns:bus="urn:cz:isvs:micr:schemas:BusinessTypes:v2" xmlns:cmn="urn:cz:isvs:micr:schemas:CommonTypes:v1" targetNamespace="urn:cz:isvs:micr:schemas:PersonTypes:v2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.00">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi jednoduchých datových prvků ISVS verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro identifikaci a popis osob. Toto schéma mohou využívat schémata ISVS v rámci celého systému  IS VS ČR© ASD Software s.r.o., 2000 - 2004</xs:documentation>
		<xs:appinfo>
			<rdf:RDF>
				<rdf:Description rdf:about="urn:cz:isvs:micr:schemas:PersonTypes:v2" xml:lang="cs">
					<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
					<dc:contributor>Martin Šilar (silar@asd-software.cz)</dc:contributor>
					<dc:description>Návrh XML schématu s definicemi jednoduchých datových prvků ISVS verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro identifikaci a popis osob. Toto schéma mohou využívat schémata ISVS v rámci celého systému  IS VS ČR</dc:description>
					<dc:identifier>urn:cz:isvs:micr:schemas:PersonTypes:v2</dc:identifier>
					<dc:publisher>Ministerstvo informatiky ČR</dc:publisher>
					<dc:rights>© ASD Software s.r.o., 2000 - 2004</dc:rights>
					<dc:type>XML Schema</dc:type>
					<dcterm:created>2004-08-31</dcterm:created>
					<dc:subject>Datové prvky; ISVS; DATOVÉ PRVKY K IDENTIFIKACI A POPISU OBYVATELE; Informační systémy veřejné správy</dc:subject>
					<dc:format>text/xml</dc:format>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" schemaLocation="CoreComponentTypes.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:SpaceTypes:v1" schemaLocation="isvs_space.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:BusinessTypes:v2" schemaLocation="isvs_business.xsd"/>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" schemaLocation="isvs_common.xsd"/>
	<xs:complexType name="OsobaRodneCisloType">
		<xs:annotation>
			<xs:documentation>Základní identifikátor občana.
Rodné číslo občana (RČ) je číslicový identifikátor občana České republiky.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Základní identifikátor občana.
Rodné číslo občana (RČ) je číslicový identifikátor občana České republiky.</dc:description>
						<dc:title>RODNÉ ČÍSLO OBČANA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="9"/>
				<xs:pattern value="\d{2}((02([0][1-9]|[1-2]\d))|(04|06|09|11)(30|[0][1-9]|[1-2]\d)|(01|03|05|07|08|10|12)(30|31|[0][1-9]|[1-2]\d))\d{3,4}|\d{2}((52([0][1-9]|[1-2]\d))|(54|56|59|61)(30|[0][1-9]|[1-2]\d)|(51|53|55|57|58|60|62)(30|31|[0][1-9]|[1-2]\d))\d{3,4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaRodneCislo" type="OsobaRodneCisloType" id="AA0001">
		<xs:annotation>
			<xs:documentation>OsobaRodneCisloType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaRodinnyStavKodType">
		<xs:annotation>
			<xs:documentation>Rodinný stav osoby vyjadřuje, zda tato osoba je svobodná, ženatá, rozvedená, ovdovělá, druh.
Podkladem jsou výpisy z matriky, rozsudek, kterým se rozvádí manželství, úmrtní list, rozsudek soudu o prohlášení za mrtvého a rozsudek soudu o prohlášení manželství za neplatné.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Rodinný stav osoby vyjadřuje, zda tato osoba je svobodná, ženatá, rozvedená, ovdovělá, druh.
Podkladem jsou výpisy z matriky, rozsudek, kterým se rozvádí manželství, úmrtní list, rozsudek soudu o prohlášení za mrtvého a rozsudek soudu o prohlášení manželství za neplatné.</dc:description>
						<dc:title>RODINNÝ STAV</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>svobodný</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>svobodná</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>ženatý</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>vdaná</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>rozvedený</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="6">
					<xs:annotation>
						<xs:documentation>rozvedená</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="7">
					<xs:annotation>
						<xs:documentation>vdovec</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="8">
					<xs:annotation>
						<xs:documentation>vdova</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaRodinnyStavKod" type="OsobaRodinnyStavKodType" id="AA0004">
		<xs:annotation>
			<xs:documentation>OsobaRodinnyStavKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaStatniObcanstviDruhKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro charakter příslušnosti fyzické osoby do státního svazku určitého státu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro charakter příslušnosti fyzické osoby do státního svazku určitého státu.</dc:description>
						<dc:title>KVALIFIKÁTOR STÁTNÍHO OBČANSTVÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="0">
					<xs:annotation>
						<xs:documentation>bez státního občanství</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>občan</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>uprchlík</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="9">
					<xs:annotation>
						<xs:documentation>státní příslušnost neznáma nebo neurčena</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaStatniObcanstviDruhKod" type="OsobaStatniObcanstviDruhKodType" id="AA0005">
		<xs:annotation>
			<xs:documentation>OsobaStatniObcanstviDruhKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CizinecRodneCisloType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro číselný identifikátor cizince, který má povolení k pobytu v ČR. Rodné číslo cizince vychází z data narození a udává se ve tvaru podle struktury zápisu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro číselný identifikátor cizince, který má povolení k pobytu v ČR. Rodné číslo cizince vychází z data narození a udává se ve tvaru podle struktury zápisu.</dc:description>
						<dc:title>RODNÉ ČÍSLO CIZINCE</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="10"/>
				<xs:pattern value="\d{2}((0000)|(02([0][1-9]|[1-2]\d)|00)|(04|06|09|11)(30|[0][1-9]|[1-2]\d|00)|(01|03|05|07|08|10|12)(30|31|[0][1-9]|[1-2]\d|00))([0-9]{4}|\s{4})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CizinecRodneCislo" type="CizinecRodneCisloType" id="AA0009">
		<xs:annotation>
			<xs:documentation>CizinecRodneCisloType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaTitulPredJmenemType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro zkrácené označení titulů, akademických titulů, akademicko-vědeckých titulů, čestných hodností, příp. dříve získaná stavovská označení a ostatní tituly absolventů vysokých škol u jména občana nebo cizince. Datový prvek může být řetězec velkých nebo malých písmen, teček, popř. číslic.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro zkrácené označení titulů, akademických titulů, akademicko-vědeckých titulů, čestných hodností, příp. dříve získaná stavovská označení a ostatní tituly absolventů vysokých škol u jména občana nebo cizince. Datový prvek může být řetězec velkých nebo malých písmen, teček, popř. číslic.</dc:description>
						<dc:title>TITUL PŘED JMÉNEM</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="35"/>
				<xs:minLength value="1"/>
				<xs:pattern value="(\p{L}|[ ]|[.]|[']|[\-]|\d){1,35}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaTitulPredJmenem" type="OsobaTitulPredJmenemType" id="AA0010">
		<xs:annotation>
			<xs:documentation>OsobaTitulPredJmenemType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaTitulZaJmenemType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro zkrácené označení vědeckých hodností a čestných hodností, příp. dříve získaná stavovská označení a ostatní tituly absolventů vysokých škol u jména občana nebo cizince. Datový prvek může být řetězec velkých nebo malých písmen, teček, popř. číslic.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro zkrácené označení vědeckých hodností a čestných hodností, příp. dříve získaná stavovská označení a ostatní tituly absolventů vysokých škol u jména občana nebo cizince. Datový prvek může být řetězec velkých nebo malých písmen, teček, popř. číslic.</dc:description>
						<dc:title>TITUL ZA JMÉNEM</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—
název TI</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
				<xs:pattern value="(\p{L}|[ ]|[.]|[']|[\-]|\d){1,10}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaTitulZaJmenem" type="OsobaTitulZaJmenemType" id="AA0011">
		<xs:annotation>
			<xs:documentation>OsobaTitulZaJmenemType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VzdelaniKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro obor a stupeň dosaženého vzdělání uznávaného v ČR. Datový prvek vzdělání je číselný kód tohoto oboru a stupně.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro obor a stupeň dosaženého vzdělání uznávaného v ČR. Datový prvek vzdělání je číselný kód tohoto oboru a stupně.</dc:description>
						<dc:title>VZDĚLÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="7"/>
				<xs:minLength value="5"/>
				<xs:pattern value="\d{5,7}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VzdelaniKod" type="VzdelaniKodType" id="AA0012">
		<xs:annotation>
			<xs:documentation>VzdelaniKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaZamestnaniKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení konkrétní činnosti, kterou zaměstnanec vykonává a která je zdrojem jeho pracovních příjmů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení konkrétní činnosti, kterou zaměstnanec vykonává a která je zdrojem jeho pracovních příjmů.</dc:description>
						<dc:title>KÓD ZAMĚSTNÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>–</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="5"/>
				<xs:minLength value="4"/>
				<xs:pattern value="\d{4,5}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaZamestnaniKod" type="OsobaZamestnaniKodType" id="AA0013">
		<xs:annotation>
			<xs:documentation>OsobaZamestnaniKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDiagnozaPlnyNazevType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní označení druhu a rozsahu onemocnění.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní označení druhu a rozsahu onemocnění.</dc:description>
						<dc:title>PLNÝ NÁZEV DIAGNÓZY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="90"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDiagnozaPlnyNazev" type="OsobaDiagnozaPlnyNazevType" id="AA0014">
		<xs:annotation>
			<xs:documentation>OsobaDiagnozaPlnyNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDiagnozaType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní označení druhu a rozsahu onemocnění, určený k vytváření textových sestav a přehledů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní označení druhu a rozsahu onemocnění, určený k vytváření textových sestav a přehledů.</dc:description>
						<dc:title>NÁZEV DIAGNÓZY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="30"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDiagnoza" type="OsobaDiagnozaType" id="AA0015">
		<xs:annotation>
			<xs:documentation>OsobaDiagnozaType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDiagnozaKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení druhu a rozsahu onemocnění.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení druhu a rozsahu onemocnění.</dc:description>
						<dc:title>KÓD DIAGNÓZY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="5"/>
				<xs:minLength value="4"/>
				<xs:pattern value="\p{Lu}\d{3,4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDiagnozaKod" type="OsobaDiagnozaKodType" id="AA0016">
		<xs:annotation>
			<xs:documentation>OsobaDiagnozaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaJmenoType">
		<xs:annotation>
			<xs:documentation>Základní identifikace obyvatele.
a) Občan ČR.
Občan má právo a povinnost užívat jméno, kterým je zapsán v matrice, případně v dokladu o změně jména.
Jestliže má občan více jmen, pak pro potřeby ISVS se užívá jméno uvedené v matričním zápisu jako první.
b) Cizinec.
Je to osoba, která nemá státní občanství ČR.
Jestliže má vydán průkaz povolení k pobytu, zapíše se jméno podle tohoto průkazu.
Jestliže lze jednoznačně identifikovat („křestní“) jméno cizince, zapíše se toto jméno.
Jestliže se jmenný identifikační údaj cizince skládá z jednotlivých jmen (která jsou si případně rovnocenná a jejichž pořadí není pevně stanoveno – např. „Ali Abhud“ nebo „Abhud Ali“), pak se zapíše tolik jmen, kolik jich lze umístit do prostoru 24 znaků bez krácení a to ta jména, která nebyla použita jako příjmení cizince. Přitom se zachovává pořadí jmen podle předloženého dokladu a jednotlivá jména jsou oddělena vždy jednou mezerou, popř. pomlčkou, je-li to tak v dokladu totožnosti cizince zapsáno. Jestliže je jméno cizince jediné slovo delší než 24 znaků, zkrátí se na délku 24 znaků vynecháním 25. a dalších znaků. Při přepisu jména cizince z cizího jazyka nepoužívajícího latinku do češtiny se používá transliterace.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Základní identifikace obyvatele.
a) Občan ČR.
Občan má právo a povinnost užívat jméno, kterým je zapsán v matrice, případně v dokladu o změně jména.
Jestliže má občan více jmen, pak pro potřeby ISVS se užívá jméno uvedené v matričním zápisu jako první.
b) Cizinec.
Je to osoba, která nemá státní občanství ČR.
Jestliže má vydán průkaz povolení k pobytu, zapíše se jméno podle tohoto průkazu.
Jestliže lze jednoznačně identifikovat („křestní“) jméno cizince, zapíše se toto jméno.
Jestliže se jmenný identifikační údaj cizince skládá z jednotlivých jmen (která jsou si případně rovnocenná a jejichž pořadí není pevně stanoveno – např. „Ali Abhud“ nebo „Abhud Ali“), pak se zapíše tolik jmen, kolik jich lze umístit do prostoru 24 znaků bez krácení a to ta jména, která nebyla použita jako příjmení cizince. Přitom se zachovává pořadí jmen podle předloženého dokladu a jednotlivá jména jsou oddělena vždy jednou mezerou, popř. pomlčkou, je-li to tak v dokladu totožnosti cizince zapsáno. Jestliže je jméno cizince jediné slovo delší než 24 znaků, zkrátí se na délku 24 znaků vynecháním 25. a dalších znaků. Při přepisu jména cizince z cizího jazyka nepoužívajícího latinku do češtiny se používá transliterace.</dc:description>
						<dc:title>JMÉNO OBYVATELE</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="24"/>
				<xs:minLength value="1"/>
				<xs:pattern value="(\p{L}|[\-]|[ ]|[']){1,24}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaJmeno" type="OsobaJmenoType" id="AA0074">
		<xs:annotation>
			<xs:documentation>OsobaJmenoType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaPrijmeniType">
		<xs:annotation>
			<xs:documentation>Základní identifikace obyvatele.
a) Občan ČR.
Občan má právo a povinnost užívat příjmení (resp. rodné příjmení), kterým je zapsán v matrice.
V případě změny příjmení je podkladem výpis z matriky (poslední zapsané příjmení) nebo úřední doklad o změně příjmení.
b) Cizinec.
Je to osoba, která nemá státní občanství ČR.
Jestliže má vydán průkaz povolení k pobytu, zapíše se příjmení podle tohoto průkazu.
Jestliže lze jednoznačně identifikovat příjmení cizince, zapíše se toto příjmení.
Jestliže se jmenný identifikační údaj cizince skládá z jednotlivých jmen (která jsou si případně rovnocenná a jejichž pořadí není pevně stanoveno - např. „Alvarez y Carrion“ nebo „Carrion y Alvarez“), pak se zapíše tolik jmen, kolik jich lze umístit do prostoru 35 znaků bez krácení. Přitom se zachovává pořadí jmen podle předloženého dokladu a jednotlivá jména jsou oddělena vždy jednou mezerou, popř. pomlčkou, je-li to tak v dokladu totožnosti cizince zapsáno. Jestliže je příjmení cizince jediné slovo delší než 35 znaků, zkrátí se na délku 35 znaků vynecháním 36. a dalších znaků. Při přepisu jména cizince z cizího jazyka nepoužívajícího latinku do češtiny se používá transliterace.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Základní identifikace obyvatele.
a) Občan ČR.
Občan má právo a povinnost užívat příjmení (resp. rodné příjmení), kterým je zapsán v matrice.
V případě změny příjmení je podkladem výpis z matriky (poslední zapsané příjmení) nebo úřední doklad o změně příjmení.
b) Cizinec.
Je to osoba, která nemá státní občanství ČR.
Jestliže má vydán průkaz povolení k pobytu, zapíše se příjmení podle tohoto průkazu.
Jestliže lze jednoznačně identifikovat příjmení cizince, zapíše se toto příjmení.
Jestliže se jmenný identifikační údaj cizince skládá z jednotlivých jmen (která jsou si případně rovnocenná a jejichž pořadí není pevně stanoveno - např. „Alvarez y Carrion“ nebo „Carrion y Alvarez“), pak se zapíše tolik jmen, kolik jich lze umístit do prostoru 35 znaků bez krácení. Přitom se zachovává pořadí jmen podle předloženého dokladu a jednotlivá jména jsou oddělena vždy jednou mezerou, popř. pomlčkou, je-li to tak v dokladu totožnosti cizince zapsáno. Jestliže je příjmení cizince jediné slovo delší než 35 znaků, zkrátí se na délku 35 znaků vynecháním 36. a dalších znaků. Při přepisu jména cizince z cizího jazyka nepoužívajícího latinku do češtiny se používá transliterace.</dc:description>
						<dc:title>PŘÍJMENÍ OBYVATELE</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="35"/>
				<xs:minLength value="1"/>
				<xs:pattern value="(\p{L}|[\-]|[ ]|[']){1,35}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaPrijmeni" type="OsobaPrijmeniType" id="AA0075">
		<xs:annotation>
			<xs:documentation>OsobaPrijmeniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDokladDruhType">
		<xs:annotation>
			<xs:documentation>Slovní označení druhu dokladu totožnosti, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Uvede se označení v souladu s číselníkem. U dokladů „ občanský průkaz“ lze uvést zkratku „ OP“, u řidičského průkazu „ŘP“.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní označení druhu dokladu totožnosti, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Uvede se označení v souladu s číselníkem. U dokladů „ občanský průkaz“ lze uvést zkratku „ OP“, u řidičského průkazu „ŘP“.</dc:description>
						<dc:title>DRUH DOKLADU TOTOŽNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="cestovní doklad"/>
				<xs:enumeration value="jiný"/>
				<xs:enumeration value="lodní knížka"/>
				<xs:enumeration value="mezinárodní řidičský průkaz"/>
				<xs:enumeration value="námořní knížka"/>
				<xs:enumeration value="není"/>
				<xs:enumeration value="občanský průkaz"/>
				<xs:enumeration value="OP"/>
				<xs:enumeration value="pilotní průkaz"/>
				<xs:enumeration value="propouštěcí list z vojska"/>
				<xs:enumeration value="průkaz o neschopnosti k vojenské činné službě"/>
				<xs:enumeration value="průkaz povolení pobytu cizince na území ČR"/>
				<xs:enumeration value="průkaz způsobilosti k vedení a obsluze plavidel"/>
				<xs:enumeration value="průkaz způsobilosti leteckého personálu"/>
				<xs:enumeration value="rodný list"/>
				<xs:enumeration value="řidičský průkaz"/>
				<xs:enumeration value="ŘP"/>
				<xs:enumeration value="služební průkaz"/>
				<xs:enumeration value="vojenská knížka"/>
				<xs:enumeration value="vojenský průkaz"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDokladDruh" type="OsobaDokladDruhType" id="AA0076">
		<xs:annotation>
			<xs:documentation>OsobaDokladDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDokladDruhKodType">
		<xs:annotation>
			<xs:documentation>Kód pro označení druhu dokladu totožnosti, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Uvede se označení v souladu s číselníkem.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód pro označení druhu dokladu totožnosti, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Uvede se označení v souladu s číselníkem.</dc:description>
						<dc:title>KÓD DRUHU DOKLADU TOTOŽNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="0">
					<xs:annotation>
						<xs:documentation>není</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>občanský průkaz (OP)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>cestovní doklad</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>průkaz povolení pobytu cizince na území ČR</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>vojenský průkaz ( vojenská knížka)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>průkaz o neschopnosti k vojenské činné službě (propouštěcí list z vojska)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="6">
					<xs:annotation>
						<xs:documentation>řidičský průkaz (ŘP)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="7">
					<xs:annotation>
						<xs:documentation>mezinárodní řidičský průkaz</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="8">
					<xs:annotation>
						<xs:documentation>průkaz způsobilosti leteckého personálu ( pilotní průkaz)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="9">
					<xs:annotation>
						<xs:documentation>námořní knížka (průkaz způsobilosti k vedení a obsluze plavidel, lodní knížka)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="10">
					<xs:annotation>
						<xs:documentation>služební průkaz</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="11">
					<xs:annotation>
						<xs:documentation>rodný list</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="12">
					<xs:annotation>
						<xs:documentation>jiný</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDokladDruhKod" type="OsobaDokladDruhKodType" id="AA0077">
		<xs:annotation>
			<xs:documentation>OsobaDokladDruhKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDokladIDType">
		<xs:annotation>
			<xs:documentation>Číslo občanského průkazu, pasu nebo jiného dokladu totožnosti obyvatele, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Číslo se zapisuje včetně případné série.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Číslo občanského průkazu, pasu nebo jiného dokladu totožnosti obyvatele, popř. druhu dokladu, podle kterého byla totožnost zjištěna. Číslo se zapisuje včetně případné série.</dc:description>
						<dc:title>ČÍSLO DOKLADU TOTOŽNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="35"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDokladID" type="OsobaDokladIDType" id="AA0078">
		<xs:annotation>
			<xs:documentation>OsobaDokladIDType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DokladUradVydaniType">
		<xs:annotation>
			<xs:documentation>Slovní označení úřadu, který vydal doklad totožnosti, popř. doklad, podle kterého byla totožnost zjištěna, včetně údaje o místě vydání. U úřadu cizího státu se uvede také název státu, příp. zkrácený název státu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní označení úřadu, který vydal doklad totožnosti, popř. doklad, podle kterého byla totožnost zjištěna, včetně údaje o místě vydání. U úřadu cizího státu se uvede také název státu, příp. zkrácený název státu.</dc:description>
						<dc:title>ÚŘAD VYDÁNÍ DOKLADU TOTOŽNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="144"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DokladUradVydani" type="DokladUradVydaniType" id="AA0079">
		<xs:annotation>
			<xs:documentation>DokladUradVydaniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaPrijmeniDruhKodType">
		<xs:annotation>
			<xs:documentation>Kód pro vyjádření druhu příjmení – příjmení, předchozí příjmení, nebo rodné příjmení.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód pro vyjádření druhu příjmení – příjmení, předchozí příjmení, nebo rodné příjmení.</dc:description>
						<dc:title>KVALIFIKÁTOR PŘÍJMENÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>příjmení (současné)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>druhé současné příjmení (dle zákona o rodině)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 1 (poslední před současným příjmením)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 2</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 3</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="6">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 4</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="7">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 5</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="8">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 6</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="9">
					<xs:annotation>
						<xs:documentation>předchozí příjmení 7 (nejstarší)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="10">
					<xs:annotation>
						<xs:documentation>rodné příjmení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="OsobaPrijmeniDruhKodJednoduchyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>příjmení (současné)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>druhé současné příjmení (dle zákona o rodině)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 1 (poslední před současným příjmením)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 2</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 3</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 4</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 5</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 6</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>předchozí příjmení 7 (nejstarší)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>rodné příjmení</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="OsobaPrijmeniDruhKod" type="OsobaPrijmeniDruhKodType" id="AA0080">
		<xs:annotation>
			<xs:documentation>OsobaPrijmeniDruhKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaStudiumStavType">
		<xs:annotation>
			<xs:documentation>Slovní údaj o aktuálním stavu studia.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní údaj o aktuálním stavu studia.</dc:description>
						<dc:title>STAV STUDIA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="nedokončené"/>
				<xs:enumeration value="probíhá"/>
				<xs:enumeration value="přerušené"/>
				<xs:enumeration value="ukončené"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaStudiumStav" type="OsobaStudiumStavType" id="AA0081">
		<xs:annotation>
			<xs:documentation>OsobaStudiumStavType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaBrannaPovinnostType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření způsobu dosavadního splnění branné povinnosti občana ČR.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření způsobu dosavadního splnění branné povinnosti občana ČR.</dc:description>
						<dc:title>VZTAH K BRANNÉ POVINNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="neodveden (trvalá neschopnost)"/>
				<xs:enumeration value="nevoják"/>
				<xs:enumeration value="odvedenec"/>
				<xs:enumeration value="propuštěn z vojska na základě jiných okolností"/>
				<xs:enumeration value="propuštěn z vojska po dosažení stanoveného věku"/>
				<xs:enumeration value="propuštěn z vojska pro povinnost výkonu civilní služby"/>
				<xs:enumeration value="propuštěn z vojska z důvodu trvalé neschopnosti"/>
				<xs:enumeration value="voják v náhradní službě"/>
				<xs:enumeration value="voják v základní službě"/>
				<xs:enumeration value="voják v záloze"/>
				<xs:enumeration value="voják v záloze povolaný na vojenské cvičení"/>
				<xs:enumeration value="voják z povolání"/>
				<xs:enumeration value="voják, kterému byla přerušena základní nebo náhradní služba"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaBrannaPovinnost" type="OsobaBrannaPovinnostType" id="AA0082">
		<xs:annotation>
			<xs:documentation>OsobaBrannaPovinnostType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaBrannaPovinnostKodType">
		<xs:annotation>
			<xs:documentation>Kód způsobu dosavadního splnění branné povinnosti občana ČR.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód způsobu dosavadního splnění branné povinnosti občana ČR.</dc:description>
						<dc:title>KÓD PRO VZTAH K BRANNÉ POVINNOSTI</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>nevoják</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>neodveden (trvalá neschopnost)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>odvedenec</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>voják v základní službě</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>voják v náhradní službě</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="6">
					<xs:annotation>
						<xs:documentation>voják, kterému byla přerušena základní nebo náhradní služba</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="7">
					<xs:annotation>
						<xs:documentation>voják z povolání</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="8">
					<xs:annotation>
						<xs:documentation>voják v záloze</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="9">
					<xs:annotation>
						<xs:documentation>voják v záloze povolaný na vojenské cvičení</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="10">
					<xs:annotation>
						<xs:documentation>propuštěn z vojska pro povinnost výkonu civilní služby</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="11">
					<xs:annotation>
						<xs:documentation>propuštěn z vojska z důvodu trvalé neschopnosti</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="12">
					<xs:annotation>
						<xs:documentation>propuštěn z vojska po dosažení stanoveného věku</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="13">
					<xs:annotation>
						<xs:documentation>propuštěn z vojska na základě jiných okolností</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaBrannaPovinnostKod" type="OsobaBrannaPovinnostKodType" id="AA0083">
		<xs:annotation>
			<xs:documentation>OsobaBrannaPovinnostKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaZdravotniPrukazDruhType">
		<xs:annotation>
			<xs:documentation>Druh zdravotního průkazu obyvatele.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Druh zdravotního průkazu obyvatele.</dc:description>
						<dc:title>DRUH ZDRAVOTNÍHO PRŮKAZU</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="TP"/>
				<xs:enumeration value="ZTP"/>
				<xs:enumeration value="ZTP-P"/>
				<xs:enumeration value="žádný"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaZdravotniPrukazDruh" type="OsobaZdravotniPrukazDruhType" id="AA0084">
		<xs:annotation>
			<xs:documentation>OsobaZdravotniPrukazDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaInvaliditaDruhType">
		<xs:annotation>
			<xs:documentation>Rozlišení invalidity na žádnou, částečnou a úplnou.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Rozlišení invalidity na žádnou, částečnou a úplnou.</dc:description>
						<dc:title>STUPEŇ INVALIDITY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="částečná"/>
				<xs:enumeration value="úplná"/>
				<xs:enumeration value="žádná"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaInvaliditaDruh" type="OsobaInvaliditaDruhType" id="AA0085">
		<xs:annotation>
			<xs:documentation>OsobaInvaliditaDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="JazykType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní označení jazyka (řeči).</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní označení jazyka (řeči).</dc:description>
						<dc:title>NÁZEV JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="20"/>
				<xs:minLength value="3"/>
				<xs:pattern value="(\p{L}|[\-]|[ ]|[']){3,20}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Jazyk" type="JazykType" id="AA0086">
		<xs:annotation>
			<xs:documentation>JazykType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="JazykKodType">
		<xs:annotation>
			<xs:documentation>Třípísmenný kód jazyka (řeči).</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Třípísmenný kód jazyka (řeči).</dc:description>
						<dc:title>PÍSMENNÝ KÓD JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="3"/>
				<xs:pattern value="\p{Ll}{3}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="JazykKod" type="JazykKodType" id="AA0087">
		<xs:annotation>
			<xs:documentation>JazykKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaJazykZnalostNazevType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření stupně znalosti jazyka, např. „částečně“, „dobře“, „výtečně“, „pasivně“, „aktivně“, „tlumočník“, „překladatel“, „mateřský jazyk“ ap.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření stupně znalosti jazyka, např. „částečně“, „dobře“, „výtečně“, „pasivně“, „aktivně“, „tlumočník“, „překladatel“, „mateřský jazyk“ ap.</dc:description>
						<dc:title>STUPEŇ ZNALOSTI JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="25"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\p{L}|[ ]){5,25}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaJazykZnalostNazev" type="OsobaJazykZnalostNazevType" id="AA0088">
		<xs:annotation>
			<xs:documentation>OsobaJazykZnalostNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaJazykZnalostOsvedceniType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní vyjádření druhu zkoušky znalosti jazyka. Složení zkoušky se prokazuje vysvědčením nebo jiným certifikátem vydaným příslušnou školou nebo institucí.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní vyjádření druhu zkoušky znalosti jazyka. Složení zkoušky se prokazuje vysvědčením nebo jiným certifikátem vydaným příslušnou školou nebo institucí.</dc:description>
						<dc:title>OSVĚDČENÍ O ZNALOSTI JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="absolvování intenzivního jazykového kurzu v trvání"/>
				<xs:enumeration value="absolvování jaz. kurzu, potvrzený certifikátem"/>
				<xs:enumeration value="jazyková aprobace učitelství"/>
				<xs:enumeration value="jazyková zkouška I. stupně (maturitní zkouška)"/>
				<xs:enumeration value="jazyková zkouška II. stupně (VŠ zkouška)"/>
				<xs:enumeration value="jazyková zkouška III. stupně (státní zkouška základní)"/>
				<xs:enumeration value="jazykový kurz absolvovaný v zahraničí"/>
				<xs:enumeration value="jiná zkouška"/>
				<xs:enumeration value="není"/>
				<xs:enumeration value="speciální státní zkouška tlumočnicko-překladatelská"/>
				<xs:enumeration value="státní zkouška všeobecná"/>
				<xs:enumeration value="znalosti získané praxí, pobytem v zahraničí, rodilý mluvčí"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaJazykZnalostOsvedceni" type="OsobaJazykZnalostOsvedceniType" id="AA0089">
		<xs:annotation>
			<xs:documentation>OsobaJazykZnalostOsvedceniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaJazykZnalostOsvedceniKodType">
		<xs:annotation>
			<xs:documentation>Kód druhu zkoušky znalosti jazyka. Složení zkoušky se prokazuje vysvědčením nebo jiným certifikátem vydaným příslušnou školou nebo institucí.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód druhu zkoušky znalosti jazyka. Složení zkoušky se prokazuje vysvědčením nebo jiným certifikátem vydaným příslušnou školou nebo institucí.</dc:description>
						<dc:title>KÓD OSVĚDČENÍ O ZNALOSTI JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:enumeration value="0">
					<xs:annotation>
						<xs:documentation>není</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="1">
					<xs:annotation>
						<xs:documentation>jazyková zkouška I. stupně (maturitní zkouška)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="2">
					<xs:annotation>
						<xs:documentation>jazyková zkouška II. stupně (VŠ zkouška)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="3">
					<xs:annotation>
						<xs:documentation>jazyková zkouška III. stupně (státní zkouška základní)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="4">
					<xs:annotation>
						<xs:documentation>absolvování intenzivního jazykového kurzu v trvání</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="5">
					<xs:annotation>
						<xs:documentation>státní zkouška všeobecná</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="6">
					<xs:annotation>
						<xs:documentation>speciální státní zkouška tlumočnicko-překladatelská</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="7">
					<xs:annotation>
						<xs:documentation>jazyková aprobace učitelství</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="8">
					<xs:annotation>
						<xs:documentation>znalosti získané praxí, pobytem v zahraničí, rodilý mluvčí</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="9">
					<xs:annotation>
						<xs:documentation>absolvování jaz. kurzu, potvrzený certifikátem</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="10">
					<xs:annotation>
						<xs:documentation>jazykový kurz absolvovaný v zahraničí</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="11">
					<xs:annotation>
						<xs:documentation>jiná zkouška</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaJazykZnalostOsvedceniKod" type="OsobaJazykZnalostOsvedceniKodType" id="AA0090">
		<xs:annotation>
			<xs:documentation>OsobaJazykZnalostOsvedceniKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaZamestnaniPostaveniKodType">
		<xs:annotation>
			<xs:documentation>Klasifikace postavení v zaměstnání (CZ-ICSE) klasifikuje:
1. ekonomicky aktivní osoby podle jejich skutečných a potenciálních vztahů k pracovním místům a to podle určitých pravidel (uvedených v klasifikaci),
2. obsazená pracovní místa v určitém časovém období s ohledem na smlouvy o zaměstnání osoby s jinými osobami nebo organizacemi.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Klasifikace postavení v zaměstnání (CZ-ICSE) klasifikuje:
1. ekonomicky aktivní osoby podle jejich skutečných a potenciálních vztahů k pracovním místům a to podle určitých pravidel (uvedených v klasifikaci),
2. obsazená pracovní místa v určitém časovém období s ohledem na smlouvy o zaměstnání osoby s jinými osobami nebo organizacemi.</dc:description>
						<dc:title>KÓD POSTAVENÍ V ZAMĚSTNÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="4"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d{1,4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaZamestnaniPostaveniKod" type="OsobaZamestnaniPostaveniKodType" id="AA0091">
		<xs:annotation>
			<xs:documentation>OsobaZamestnaniPostaveniKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PracovniPomerDruhType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření právní povahy zaměstnaneckého vztahu k zaměstnavateli. Zaměstnanec v pracovním poměru se podílí svou prací za mzdu dle pokynů zaměstnavatele na plnění jeho úkolů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření právní povahy zaměstnaneckého vztahu k zaměstnavateli. Zaměstnanec v pracovním poměru se podílí svou prací za mzdu dle pokynů zaměstnavatele na plnění jeho úkolů.</dc:description>
						<dc:title>DRUH PRACOVNÍHO POMĚRU</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="25"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\p{L}|[\-]|[ ]){4,25}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PracovniPomerDruh" type="PracovniPomerDruhType" id="AA0092">
		<xs:annotation>
			<xs:documentation>PracovniPomerDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PracovniPomerDruhKodType">
		<xs:annotation>
			<xs:documentation>Kód pro vyjádření právní povahy zaměstnaneckého vztahu k zaměstnavateli. Zaměstnanec v pracovním poměru se podílí svou prací za mzdu dle pokynů zaměstnavatele na plnění jeho úkolů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód pro vyjádření právní povahy zaměstnaneckého vztahu k zaměstnavateli. Zaměstnanec v pracovním poměru se podílí svou prací za mzdu dle pokynů zaměstnavatele na plnění jeho úkolů.</dc:description>
						<dc:title>KÓD DRUHU PRACOVNÍHO POMĚRU</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="1"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PracovniPomerDruhKod" type="PracovniPomerDruhKodType" id="AA0093">
		<xs:annotation>
			<xs:documentation>PracovniPomerDruhKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaDuchodDruhType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření druhu důchodu. Jestliže obyvatel pobírá několik důchodů, uvedou se všechny druhy pobíraných důchodů jako seznam.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření druhu důchodu. Jestliže obyvatel pobírá několik důchodů, uvedou se všechny druhy pobíraných důchodů jako seznam.</dc:description>
						<dc:title>DRUH DŮCHODU</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="částečný invalidní"/>
				<xs:enumeration value="plný invalidní"/>
				<xs:enumeration value="poměrný starobní"/>
				<xs:enumeration value="sirotčí"/>
				<xs:enumeration value="starobní"/>
				<xs:enumeration value="vdovecký"/>
				<xs:enumeration value="vdovský"/>
				<xs:enumeration value="žádný"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaDuchodDruh" type="OsobaDuchodDruhType" id="AA0094">
		<xs:annotation>
			<xs:documentation>OsobaDuchodDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaBezuhonnostType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření, zda obyvatel byl pravomocně odsouzen a uložený trest nebyl dosud zahlazen nebo zda bylo rozhodnuto o podmínečném zastavení trestního řízení.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření, zda obyvatel byl pravomocně odsouzen a uložený trest nebyl dosud zahlazen nebo zda bylo rozhodnuto o podmínečném zastavení trestního řízení.</dc:description>
						<dc:title>BEZÚHONNOST</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:enumeration value="netrestán"/>
				<xs:enumeration value="trestán"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaBezuhonnost" type="OsobaBezuhonnostType" id="AA0095">
		<xs:annotation>
			<xs:documentation>OsobaBezuhonnostType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VzdelaniJednoduchyKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení kmenových oborů vzdělání, které vymezují jednotlivé oblasti či dílčí úseky vzdělání na základě jejich obsahové podobnosti. Klasifikace je dvourozměrným systémem. V prvním směru se třídí kmenové obory vzdělání ve skupinách tvořící uspořádání věd a nauk. Ve druhém rozměru (jedná se o abecední údaj) se uvádí dosažené vzdělání, které je kompatibilní s mezinárodním standardem ISCED-77.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení kmenových oborů vzdělání, které vymezují jednotlivé oblasti či dílčí úseky vzdělání na základě jejich obsahové podobnosti. Klasifikace je dvourozměrným systémem. V prvním směru se třídí kmenové obory vzdělání ve skupinách tvořící uspořádání věd a nauk. Ve druhém rozměru (jedná se o abecední údaj) se uvádí dosažené vzdělání, které je kompatibilní s mezinárodním standardem ISCED-77.</dc:description>
						<dc:title>KÓD VZDĚLÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="5"/>
				<xs:minLength value="5"/>
				<xs:pattern value="\d{4}\p{Lu}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="VzdelaniJednoduchyKod" type="VzdelaniJednoduchyKodType" id="AA0106">
		<xs:annotation>
			<xs:documentation>VzdelaniJednoduchyKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaSpotrebaKodType">
		<xs:annotation>
			<xs:documentation>Kódové vyjádření druhu individuální spotřeby (zboží, služeb apod.) podle účelu. Používá se k identifikaci výdajů na individuální spotřebu třemi institucionálními sektory: domácnostmi, neziskovými institucemi sloužícími domácnostem (NISD) a vládními institucemi.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kódové vyjádření druhu individuální spotřeby (zboží, služeb apod.) podle účelu. Používá se k identifikaci výdajů na individuální spotřebu třemi institucionálními sektory: domácnostmi, neziskovými institucemi sloužícími domácnostem (NISD) a vládními institucemi.</dc:description>
						<dc:title>KÓD DRUHU INDIVIDUÁLNÍ SPOTŘEBY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="4"/>
				<xs:minLength value="4"/>
				<xs:pattern value="(\d{4})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaSpotrebaKod" type="OsobaSpotrebaKodType" id="AA0255">
		<xs:annotation>
			<xs:documentation>OsobaSpotrebaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobniSpotrebaDruhType">
		<xs:annotation>
			<xs:documentation>Slovní vyjádření druhu individuální spotřeby (zboží, služeb apod.) podle účelu. Používá se k identifikaci výdaje na individuální spotřebu třemi institucionálními sektory: domácnostmi, neziskovými institucemi sloužícími domácnostem (NISD) a vládními institucemi.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Slovní vyjádření druhu individuální spotřeby (zboží, služeb apod.) podle účelu. Používá se k identifikaci výdaje na individuální spotřebu třemi institucionálními sektory: domácnostmi, neziskovými institucemi sloužícími domácnostem (NISD) a vládními institucemi.</dc:description>
						<dc:title>NÁZEV DRUHU INDIVIDUÁLNÍ SPOTŘEBY</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="240"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobniSpotrebaDruh" type="OsobniSpotrebaDruhType" id="AA0256">
		<xs:annotation>
			<xs:documentation>OsobniSpotrebaDruhType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaZamestnaniPostaveniType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní vyjádření:
1. postavení ekonomicky aktivní osoby v zaměstnání podle její skutečných a potenciálních vztahů k pracovnímu místu a to podle určitých pravidel (uvedených v klasifikaci),
2. obsazeného pracovního místa v určitém časovém období s ohledem na smlouvu osoby o zaměstnání s jinými osobami nebo organizacemi.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní vyjádření:
1. postavení ekonomicky aktivní osoby v zaměstnání podle její skutečných a potenciálních vztahů k pracovnímu místu a to podle určitých pravidel (uvedených v klasifikaci),
2. obsazeného pracovního místa v určitém časovém období s ohledem na smlouvu osoby o zaměstnání s jinými osobami nebo organizacemi.</dc:description>
						<dc:title>NÁZEV POSTAVENÍ V ZAMĚSTNÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="240"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="OsobaZamestnaniPostaveni" type="OsobaZamestnaniPostaveniType" id="AA0259">
		<xs:annotation>
			<xs:documentation>OsobaZamestnaniPostaveniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PrijmeniBazeType">
		<xs:annotation>
			<xs:documentation>PŘÍJMENÍ OBYVATELE - výchozí neomezený typ. Není určen k instanciaci.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>PŘÍJMENÍ OBYVATELE - výchozí neomezený typ. Není určen k instanciaci.</dc:description>
						<dc:title>PŘÍJMENÍ OBYVATELE - VÝCHOZÍ NEOMEZENÝ TYP</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="cct:TextType">
				<xs:attribute name="druhKod" type="OsobaPrijmeniDruhKodJednoduchyType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="OsobaStatniObcanstviStructure">
		<xs:annotation>
			<xs:documentation>Složený datový prvek, který vyjadřuje příslušnost fyzické osoby do státního svazku určitého státu (tj. vztah fyzické osoby ke státu).</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Složený datový prvek, který vyjadřuje příslušnost fyzické osoby do státního svazku určitého státu (tj. vztah fyzické osoby ke státu).</dc:description>
						<dc:title>STÁTNÍ OBČANSTVÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="OsobaStatniObcanstviDruhKod"/>
			<xs:element name="StatKod" type="spa:StatKodType"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="OsobaStatniObcanstvi" type="OsobaStatniObcanstviStructure" id="AAC004">
		<xs:annotation>
			<xs:documentation>OsobaStatniObcanstviStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaIdentitaStructure">
		<xs:annotation>
			<xs:documentation>Identifikační údaje obyvatele České republiky.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Identifikační údaje obyvatele České republiky.</dc:description>
						<dc:title>IDENTIFIKACE OBYVATELE</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="OsobaRodneCislo" minOccurs="0"/>
				<xs:element ref="CizinecRodneCislo" minOccurs="0"/>
			</xs:choice>
			<xs:element name="Prijmeni" type="OsobaPrijmeniType"/>
			<xs:element name="PrijmeniRodne" type="OsobaPrijmeniType" minOccurs="0"/>
			<xs:element name="Jmeno" type="OsobaJmenoType"/>
			<xs:element name="TitulPredJmenem" type="OsobaTitulPredJmenemType" minOccurs="0"/>
			<xs:element name="TitulZaJmenem" type="OsobaTitulZaJmenemType" minOccurs="0"/>
			<xs:element ref="cmn:Rozsireni" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="OsobaIdentita" type="OsobaIdentitaStructure" id="AAC005">
		<xs:annotation>
			<xs:documentation>OsobaIdentitaStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaZamestnaniStructure">
		<xs:annotation>
			<xs:documentation>Složený datový prvek o zaměstnání a zaměstnavateli obyvatele.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Složený datový prvek o zaměstnání a zaměstnavateli obyvatele.</dc:description>
						<dc:title>ÚDAJE O ZAMĚSTNÁNÍ</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PostaveniKod" type="OsobaZamestnaniPostaveniKodType"/>
			<xs:element name="ZamestnavatelObchodniJmeno" type="bus:SubjektObchodniJmenoType"/>
			<xs:element name="ZamestnavatelAdresa" type="spa:ObjektAdresaNazvyStructure"/>
			<xs:element name="Provoz" type="bus:SubjektProvozType"/>
			<xs:element name="ProvozAdresa" type="spa:ObjektAdresaNazvyStructure"/>
			<xs:element ref="cmn:Rozsireni" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="OsobaZamestnani" type="OsobaZamestnaniStructure" id="AAC006">
		<xs:annotation>
			<xs:documentation>OsobaZamestnaniStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OsobaJazykZnalostStructure">
		<xs:annotation>
			<xs:documentation>Složený datový prvek o znalosti jazyka a o osvědčení této znalosti.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Složený datový prvek o znalosti jazyka a o osvědčení této znalosti.</dc:description>
						<dc:title>ZNALOST JAZYKA</dc:title>
						<dcterm:created>20040831</dcterm:created>
						<dcterm:valid>—</dcterm:valid>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Jazyk"/>
			<xs:element name="ZnalostNazev" type="OsobaJazykZnalostNazevType"/>
			<xs:element name="ZnalostOsvedceni" type="OsobaJazykZnalostOsvedceniType"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="OsobaJazykZnalost" type="OsobaJazykZnalostStructure" id="AAC007">
		<xs:annotation>
			<xs:documentation>OsobaJazykZnalostStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
