Fáze2/Podklady/Schemata_XSD_automaticka_komunikaci/isvs_common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Jan Kotrle (ASD Software, s.r.o.) -->
<!--Generated by ASD © ISVS Schema Generator v.0.01a at 2010-04-25T20:09:21. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns="urn:cz:isvs:micr:schemas:CommonTypes:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterm="http://purl.org/dc/terms/" xmlns:cct="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="urn:cz:isvs:micr:schemas:CommonTypes:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.02a">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Návrh XML schématu s definicemi obecných jednoduchých datových prvků ISVS (Informačních systémů veřejné správy) verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro ostatní schémata ISVS včetně ostatních schémat jednoduchých datových prvků a v rámci celého systému  ISVS ČR© ASD Software s.r.o., 2000 - 2004</xs:documentation>
		<xs:appinfo>
			<rdf:RDF>
				<rdf:Description rdf:about="urn:cz:isvs:micr:schemas:CommonTypes:v1" xml:lang="cs">
					<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
					<dc:contributor>Martin Šilar (silar@asd-software.cz)</dc:contributor>
					<dc:description>Návrh XML schématu s definicemi obecných jednoduchých datových prvků ISVS (Informačních systémů veřejné správy) verze 1.0.2. Toto schéma obsahuje definice jednoduchých datových prvků, používaných pro ostatní schémata ISVS včetně ostatních schémat jednoduchých datových prvků a v rámci celého systému  ISVS ČR</dc:description>
					<dc:identifier>urn:cz:isvs:micr:schemas:CommonTypes:v1</dc:identifier>
					<dc:publisher>Ministerstvo vnitra</dc:publisher>
					<dc:rights>© ASD Software s.r.o., 2000 - 2004</dc:rights>
					<dc:type>Dataset</dc:type>
					<dc:rightsholder>Ministerstvo vnitra</dc:rightsholder>
					<dcterm:created>2004-08-31</dcterm:created>
					<dc:subject>Datové prvky; ISVS; DATOVÉ PRVKY OBECNÉ; Informační systémy veřejné správy</dc:subject>
					<dc:format>application/xml</dc:format>
				</rdf:Description>
			</rdf:RDF>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:micr:schemas:CoreComponentTypes:v1" schemaLocation="CoreComponentTypes.xsd"/>
	<xs:complexType name="DatumXMLType">
		<xs:annotation>
			<xs:documentation>Datum vyjadřuje den, měsíc, rok příslušného aktu, k němuž se vztahuje. Prezentace data odpovídá formátu XML Schema.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datum vyjadřuje den, měsíc, rok příslušného aktu, k němuž se vztahuje. Prezentace data odpovídá formátu XML Schema.</dc:description>
						<dc:title>DATUM VE FORMÁTU XML SCHEMA</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="cct:DatumType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DatumXML" type="DatumXMLType">
		<xs:annotation>
			<xs:documentation>DatumXMLType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EmailType">
		<xs:annotation>
			<xs:documentation>Popis e-mailu</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Popis e-mailu</dc:description>
						<dc:title>ELEKTRONICKÁ ADRESA (E-MAIL)</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="254"/>
				<xs:minLength value="3"/>
				<xs:pattern value="([0123456789,A-Z,a-z,_,.,\-]{1,50})+@+([0123456789,A-Z,a-z,_,.,\-]{1,100})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Email" type="EmailType">
		<xs:annotation>
			<xs:documentation>EmailType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="JedinecnyIdentifikatorType">
		<xs:annotation>
			<xs:documentation>Jedinečný identifikátor, generovaný informačními systémy.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Jedinečný identifikátor, generovaný informačními systémy.</dc:description>
						<dc:title>JEDINEČNÝ IDENTIFIKÁTOR (UUID)</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="36"/>
				<xs:minLength value="36"/>
				<xs:pattern value="([0123456789abcdefABCDEF]{8})+-+([0123456789abcdefABCDEF]{4})+-+([0123456789abcdefABCDEF]{4})+-+([0123456789abcdefABCDEF]{4})+-+([0123456789abcdefABCDEF]{12})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="JedinecnyIdentifikator" type="JedinecnyIdentifikatorType">
		<xs:annotation>
			<xs:documentation>JedinecnyIdentifikatorType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BankaSWIFTkodType">
		<xs:annotation>
			<xs:documentation>Kód banky pro mezinárodní platební styk - tzv. SWIFT (BIC) kód. Kód BIC (Bank Identifier Code) je registrován organizací SWIFT(Society for Worldwide International Financial Transactions).</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód banky pro mezinárodní platební styk - tzv. SWIFT (BIC) kód. Kód BIC (Bank Identifier Code) je registrován organizací SWIFT(Society for Worldwide International Financial Transactions).</dc:description>
						<dc:title>KÓD BANKY (SWIFT KÓD)</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="11"/>
				<xs:minLength value="8"/>
				<xs:pattern value="(\p{Lu}){6}(\d|\p{Lu}){5}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="BankaSWIFTkod" type="BankaSWIFTkodType">
		<xs:annotation>
			<xs:documentation>BankaSWIFTkodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UcetIBANcisloType">
		<xs:annotation>
			<xs:documentation>Číslo bankovního účtu ve formátu mezinárodního kódu IBAN.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Číslo bankovního účtu ve formátu mezinárodního kódu IBAN.</dc:description>
						<dc:title>MEZINÁRODNÍ ČÍSLO ÚČTU IBAN</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="34"/>
				<xs:minLength value="5"/>
				<xs:pattern value="(\p{Lu}){2}(\d{2})(\d|\p{Lu}){1,30}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="UcetIBANcislo" type="UcetIBANcisloType">
		<xs:annotation>
			<xs:documentation>UcetIBANcisloType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="URLType">
		<xs:annotation>
			<xs:documentation>Popis URL (Uniform Resource Locator) adresy pro vyhledávání zdrojů na Webu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Popis URL (Uniform Resource Locator) adresy pro vyhledávání zdrojů na Webu.</dc:description>
						<dc:title>URL</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="1024"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="URL" type="URLType">
		<xs:annotation>
			<xs:documentation>URLType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MenaType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro slovní označení měn a fondů.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro slovní označení měn a fondů.</dc:description>
						<dc:title>NÁZEV MĚNY</dc:title>
						<dcterm:created>19971201</dcterm:created>
						<dcterm:modified>20040101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="240"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Mena" type="MenaType">
		<xs:annotation>
			<xs:documentation>MenaType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MenaKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení měn a fondů.
Pozn.: Kód může být v jednom z následujících tvarů:
třímístný číslicový
třímístný abecední
dvoumístný abecední
(kód je v uvedených tvarech jednoznačný a jednoznačně převoditelný)</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení měn a fondů.
Pozn.: Kód může být v jednom z následujících tvarů:
třímístný číslicový
třímístný abecední
dvoumístný abecední
(kód je v uvedených tvarech jednoznačný a jednoznačně převoditelný)</dc:description>
						<dc:title>KÓD MĚNY</dc:title>
						<dcterm:created>19970701</dcterm:created>
						<dcterm:modified>19980101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="2"/>
				<xs:pattern value="(\d{3})|(\p{L}{2,3})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MenaKod" type="MenaKodType">
		<xs:annotation>
			<xs:documentation>MenaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlatbaKonstantniSymbolType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro číselný údaj, sloužící k identifikaci charakteru a způsobu platby (prováděné prostřednictvím banky, či jiné finanční instituce). Konstantní symbol není povinnou náležitostí všech příkazců k zúčtování, ale pouze těch, které jsou příjmem nebo výdajem státního rozpočtu, a těch o nichž to stanoví zvláštní právní předpis.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro číselný údaj, sloužící k identifikaci charakteru a způsobu platby (prováděné prostřednictvím banky, či jiné finanční instituce). Konstantní symbol není povinnou náležitostí všech příkazců k zúčtování, ale pouze těch, které jsou příjmem nebo výdajem státního rozpočtu, a těch o nichž to stanoví zvláštní právní předpis.</dc:description>
						<dc:title>KONSTANTNÍ SYMBOL</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d{1,10}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PlatbaKonstantniSymbol" type="PlatbaKonstantniSymbolType">
		<xs:annotation>
			<xs:documentation>PlatbaKonstantniSymbolType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlatbaVariabilniSymbolType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro číselný údaj, obsahující identifikaci platby, který plátce uvádí v případech, kdy to požaduje příjemce platby, která se uskutečňuje prostřednictvím účtu, vedeného u banky. Struktura variabilního symbolu není stanovena. Obsah variabilního symbolu určuje příjemce platby.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro číselný údaj, obsahující identifikaci platby, který plátce uvádí v případech, kdy to požaduje příjemce platby, která se uskutečňuje prostřednictvím účtu, vedeného u banky. Struktura variabilního symbolu není stanovena. Obsah variabilního symbolu určuje příjemce platby.</dc:description>
						<dc:title>VARIABILNÍ SYMBOL</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d{1,10}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PlatbaVariabilniSymbol" type="PlatbaVariabilniSymbolType">
		<xs:annotation>
			<xs:documentation>PlatbaVariabilniSymbolType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlatbaSpecifickySymbolType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro číselný údaj, který plátce (příkazce) uvádí v případech, kdy je to nutné k zúčtování platby v bance.
Struktura specifického symbolu není stanovena. Obsah specifického symbolu určuje banka, která potřebuje specifický symbol k zúčtování platby, popř. Česká národní banka.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro číselný údaj, který plátce (příkazce) uvádí v případech, kdy je to nutné k zúčtování platby v bance.
Struktura specifického symbolu není stanovena. Obsah specifického symbolu určuje banka, která potřebuje specifický symbol k zúčtování platby, popř. Česká národní banka.</dc:description>
						<dc:title>SPECIFICKÝ SYMBOL</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d{1,10}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PlatbaSpecifickySymbol" type="PlatbaSpecifickySymbolType">
		<xs:annotation>
			<xs:documentation>PlatbaSpecifickySymbolType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BankaKodType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro kódové označení banky. Kód je uváděn v následujícím tvaru:
čtyřmístný číslicový (na platebních příkazech),</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro kódové označení banky. Kód je uváděn v následujícím tvaru:
čtyřmístný číslicový (na platebních příkazech),</dc:description>
						<dc:title>IDENTIFIKAČNÍ KÓD BANKY</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="7"/>
				<xs:minLength value="4"/>
				<xs:pattern value="(\d{4})|(\p{Lu}{4,7})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="BankaKod" type="BankaKodType">
		<xs:annotation>
			<xs:documentation>BankaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UcetCisloType">
		<xs:annotation>
			<xs:documentation>Číslo pod kterým je veden účet klienta banky.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Číslo pod kterým je veden účet klienta banky.</dc:description>
						<dc:title>ČÍSLO ÚČTU KLIENTA BANKY</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>19981229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="16"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\d{1,16}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="UcetCislo" type="UcetCisloType">
		<xs:annotation>
			<xs:documentation>UcetCisloType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PravniPredpisCitaceType">
		<xs:annotation>
			<xs:documentation>Datový prvek pro označení právního předpisu v odkazech na právní předpis. Rozlišuje se:
1. úplná citace
2. zkrácená citace
3. citace novelizovaných právních předpisů
viz dále přílohu tohoto datového prvku.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datový prvek pro označení právního předpisu v odkazech na právní předpis. Rozlišuje se:
1. úplná citace
2. zkrácená citace
3. citace novelizovaných právních předpisů
viz dále přílohu tohoto datového prvku.</dc:description>
						<dc:title>CITACE PRÁVNÍHO PŘEDPISU</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>20020101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="255"/>
				<xs:minLength value="2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PravniPredpisCitace" type="PravniPredpisCitaceType">
		<xs:annotation>
			<xs:documentation>PravniPredpisCitaceType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DatumNarodniType">
		<xs:annotation>
			<xs:documentation>Datum vyjadřuje den, měsíc, rok příslušného aktu, k němuž se vztahuje. Prezentace data odpovídá národním zvyklostem.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datum vyjadřuje den, měsíc, rok příslušného aktu, k němuž se vztahuje. Prezentace data odpovídá národním zvyklostem.</dc:description>
						<dc:title>NÁRODNÍ DATUM</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:modified>20001229</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="8"/>
				<xs:minLength value="8"/>
				<xs:pattern value="((([0][1-9]|[1-2]\d)02)|(30|[0][1-9]|[1-2]\d)(04|06|09|11)|(30|31|[0][1-9]|[1-2]\d)(01|03|05|07|08|10|12))\d{4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DatumNarodni" type="DatumNarodniType">
		<xs:annotation>
			<xs:documentation>DatumNarodniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FaxTelefonCisloType">
		<xs:annotation>
			<xs:documentation>Číslo koncového bodu veřejných telefonních sítí a veřejných komunikačních sítí s internetovým protokolem. Datový prvek má části:
1. mezinárodní přestupný znak („00“ nebo „+“)
2. Volba (předvolba) operátora
3. kód země
4.  účastnické číslo (u ústředen s provolbou se rozumí číslo ústředny a číslo přípojky pobočkové sítě nebo pobočkové ústředny dohromady)
5. číslo koncového bodu (u ústředen se spojovatelkou – tzv. poloautomatický provoz)
Datový prvek nemusí mít uvedeno číslo přípojky pobočkové sítě nebo pobočkové ústředny.
Je-li předřazen mezinárodní přestupný znak (např. pro USA před kód země „1“, tj. 001), jde o mezinárodní spojení.
Není-li uveden mezinárodní přestupný znak 00, jde o účastnické číslo (telefonní číslo) a datový prvek obsahuje jen účastnické číslo.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Číslo koncového bodu veřejných telefonních sítí a veřejných komunikačních sítí s internetovým protokolem. Datový prvek má části:
1. mezinárodní přestupný znak („00“ nebo „+“)
2. Volba (předvolba) operátora
3. kód země
4.  účastnické číslo (u ústředen s provolbou se rozumí číslo ústředny a číslo přípojky pobočkové sítě nebo pobočkové ústředny dohromady)
5. číslo koncového bodu (u ústředen se spojovatelkou – tzv. poloautomatický provoz)
Datový prvek nemusí mít uvedeno číslo přípojky pobočkové sítě nebo pobočkové ústředny.
Je-li předřazen mezinárodní přestupný znak (např. pro USA před kód země „1“, tj. 001), jde o mezinárodní spojení.
Není-li uveden mezinárodní přestupný znak 00, jde o účastnické číslo (telefonní číslo) a datový prvek obsahuje jen účastnické číslo.</dc:description>
						<dc:title>TELEFONNÍ ČÍSLO (FAXOVÉ ČÍSLO)</dc:title>
						<dcterm:created>19960601</dcterm:created>
						<dcterm:valid>–</dcterm:valid>
						<dcterm:modified>20050501</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="33"/>
				<xs:minLength value="3"/>
				<xs:pattern value="(TE|FX)?([0]{0,2})([0-9]{3,4})?([0-9]{1,6})?[0-9]{3,17}[0-9]{0,4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="FaxTelefonCislo" type="FaxTelefonCisloType">
		<xs:annotation>
			<xs:documentation>FaxTelefonCisloType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SpisCisloJednaciType">
		<xs:annotation>
			<xs:documentation>Číslo, pod kterým je písemnost registrována.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Číslo, pod kterým je písemnost registrována.</dc:description>
						<dc:title>ČÍSLO JEDNACÍ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:IdentifikatorType">
				<xs:maxLength value="55"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SpisCisloJednaci" type="SpisCisloJednaciType">
		<xs:annotation>
			<xs:documentation>SpisCisloJednaciType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DatumMezinarodniType">
		<xs:annotation>
			<xs:documentation>Datum je určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.
Prezentace data respektuje mezinárodní normy.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Datum je určitý den kalendářního roku, který je označen pořadovým číslem uvnitř kalendářního měsíce tohoto roku.
Prezentace data respektuje mezinárodní normy.</dc:description>
						<dc:title>DATUM</dc:title>
						<dcterm:created>19991201</dcterm:created>
						<dcterm:modified>20000101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="8"/>
				<xs:minLength value="8"/>
				<xs:pattern value="\d{4}((02([0][1-9]|[1-2]\d))|(04|06|09|11)(30|[0][1-9]|[1-2]\d)|(01|03|05|07|08|10|12)(30|31|[0][1-9]|[1-2]\d))"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DatumMezinarodni" type="DatumMezinarodniType">
		<xs:annotation>
			<xs:documentation>DatumMezinarodniType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="KalendarniTydenType">
		<xs:annotation>
			<xs:documentation>Časový interval dlouhý sedm dní uvnitř kalendářního roku, který začíná pondělím a označuje se pořadovými čísly uvnitř kalendářního roku.
První kalendářní týden roku je týden, který obsahuje první čtvrtek v roce.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Časový interval dlouhý sedm dní uvnitř kalendářního roku, který začíná pondělím a označuje se pořadovými čísly uvnitř kalendářního roku.
První kalendářní týden roku je týden, který obsahuje první čtvrtek v roce.</dc:description>
						<dc:title>KALENDÁŘNÍ TÝDEN</dc:title>
						<dcterm:created>19991201</dcterm:created>
						<dcterm:modified>20000101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:PocetType">
				<xs:pattern value="[1-9]{1}|([1-4]{1}\d{1}|[5]{1}[0-3]{1})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="KalendarniTyden" type="KalendarniTydenType">
		<xs:annotation>
			<xs:documentation>KalendarniTydenType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FinancniCastkaType">
		<xs:annotation>
			<xs:documentation>Finanční částka v korunách českých, uváděná podle potřeby s přesností na haléře.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Finanční částka v korunách českých, uváděná podle potřeby s přesností na haléře.</dc:description>
						<dc:title>FINANČNÍ ČÁSTKA</dc:title>
						<dcterm:created>20010401</dcterm:created>
						<dcterm:modified>20030801</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:CenaType">
				<xs:pattern value="\-{0,1}(0|[1-9]{1}\d{0,10})([,]|[.])\d{2}|(0|[1-9]{1}\d{0,14})"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="FinancniCastka" type="FinancniCastkaType">
		<xs:annotation>
			<xs:documentation>FinancniCastkaType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ObdobiSledovaneDobaType">
		<xs:annotation>
			<xs:documentation>Jako sledované období se udávají jednotlivá čísla měsíců, popř. číslo prvního a posledního měsíce.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Jako sledované období se udávají jednotlivá čísla měsíců, popř. číslo prvního a posledního měsíce.</dc:description>
						<dc:title>SLEDOVANÉ OBDOBÍ V MĚSÍCÍCH</dc:title>
						<dcterm:created>20020101</dcterm:created>
						<dcterm:modified>20020101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="5"/>
				<xs:minLength value="1"/>
				<xs:pattern value="([1-9]|10|11|12){1}([\-]([1-9]|10|11|12)){0,1}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="ObdobiSledovaneDoba" type="ObdobiSledovaneDobaType">
		<xs:annotation>
			<xs:documentation>ObdobiSledovaneDobaType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RokType">
		<xs:annotation>
			<xs:documentation>Kalendářní rok určité události, např. rok narození, nebo označovaný někdy také jako ročník, např. ročník povinný vojenskému odvodu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kalendářní rok určité události, např. rok narození, nebo označovaný někdy také jako ročník, např. ročník povinný vojenskému odvodu.</dc:description>
						<dc:title>ROK – ROČNÍK</dc:title>
						<dcterm:created>20020101</dcterm:created>
						<dcterm:modified>20020101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="4"/>
				<xs:minLength value="4"/>
				<xs:pattern value="\d{4}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Rok" type="RokType">
		<xs:annotation>
			<xs:documentation>RokType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DokumentNazevType">
		<xs:annotation>
			<xs:documentation>Název dokumentu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:description>Název dokumentu.</dc:description>
						<dc:title>NÁZEV DOKUMENTU</dc:title>
						<dcterm:created>20040915</dcterm:created>
						<dcterm:modified>20040915</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="512"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DokumentNazev" type="DokumentNazevType">
		<xs:annotation>
			<xs:documentation>DokumentNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DokumentObsahTextType">
		<xs:annotation>
			<xs:documentation>Obsah binárního souboru (např. souboru textového editoru, obrázku apod.), převedený do formátu base64.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:description>Obsah binárního souboru (např. souboru textového editoru, obrázku apod.), převedený do formátu base64.</dc:description>
						<dc:title>OBSAH DOKUMENTU</dc:title>
						<dcterm:created>20040915</dcterm:created>
						<dcterm:modified>20040915</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DokumentObsahText" type="DokumentObsahTextType">
		<xs:annotation>
			<xs:documentation>DokumentObsahTextType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MernaJednotkaKodType">
		<xs:annotation>
			<xs:documentation>Kód měrné jednotky, ve které je vyjádřena hodnota měření, množství nebo počtu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Kód měrné jednotky, ve které je vyjádřena hodnota měření, množství nebo počtu.</dc:description>
						<dc:title>KÓD MĚRNÉ JEDNOTKY</dc:title>
						<dcterm:created>20040915</dcterm:created>
						<dcterm:modified>20040915</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:KodType">
				<xs:maxLength value="3"/>
				<xs:minLength value="1"/>
				<xs:pattern value="\p{L}{1,3}"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MernaJednotkaKod" type="MernaJednotkaKodType">
		<xs:annotation>
			<xs:documentation>MernaJednotkaKodType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MernaJednotkaNazevType">
		<xs:annotation>
			<xs:documentation>Název měrné jednotky, ve které je vyjádřena hodnota měření, množství nebo počtu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:description>Název měrné jednotky, ve které je vyjádřena hodnota měření, množství nebo počtu.</dc:description>
						<dc:title>NÁZEV MĚRNÉ JEDNOTKY</dc:title>
						<dcterm:created>20040915</dcterm:created>
						<dcterm:modified>20040915</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="50"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MernaJednotkaNazev" type="MernaJednotkaNazevType">
		<xs:annotation>
			<xs:documentation>MernaJednotkaNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DokumentPopisType">
		<xs:annotation>
			<xs:documentation>Tvrzení vyjadřující podstatnou povahu dokumentu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Tvrzení vyjadřující podstatnou povahu dokumentu.</dc:description>
						<dc:title>POPIS DOKUMENTU</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="DokumentPopis" type="DokumentPopisType">
		<xs:annotation>
			<xs:documentation>DokumentPopisType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BankaNazevType">
		<xs:annotation>
			<xs:documentation>Jedno nebo víceslovné určení přiřazené bance.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Jedno nebo víceslovné určení přiřazené bance.</dc:description>
						<dc:title>NÁZEV BANKY</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:NazevType">
				<xs:maxLength value="80"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="BankaNazev" type="BankaNazevType">
		<xs:annotation>
			<xs:documentation>BankaNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SmlouvaNazevType">
		<xs:annotation>
			<xs:documentation>Název smlouvy / dodatku / rozhodnutí ke smlouvě o financování projektu.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Název smlouvy / dodatku / rozhodnutí ke smlouvě o financování projektu.</dc:description>
						<dc:title>NÁZEV SMLOUVY</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:NazevType">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SmlouvaNazev" type="SmlouvaNazevType">
		<xs:annotation>
			<xs:documentation>SmlouvaNazevType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SmlouvaPopisType">
		<xs:annotation>
			<xs:documentation>Tvrzení vyjadřující povahu smlouvy.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:contributor>Vratislav Frouz [Vratislav.Frouz@mmr.cz]; Václav Rada [Vaclav.Rada@mmr.cz]</dc:contributor>
						<dc:description>Tvrzení vyjadřující povahu smlouvy.</dc:description>
						<dc:title>POPIS SMLOUVY</dc:title>
						<dcterm:created>20.04.2010</dcterm:created>
						<dcterm:modified>20.04.2010</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cct:TextType">
				<xs:maxLength value="250"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="SlouvaPopis" type="SmlouvaPopisType">
		<xs:annotation>
			<xs:documentation>SmlouvaPopisType - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RozsireniStructure">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:title>ROZŠIŘUJÍCÍ ELEMENT SLOŽENÝCH DATOVÝCH TYPŮ</dc:title>
						<dcterm:created>20040831</dcterm:created>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="Rozsireni" type="RozsireniStructure">
		<xs:annotation>
			<xs:documentation>RozsireniStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BankaUcetStructure">
		<xs:annotation>
			<xs:documentation>Složený datový prvek, který v tuzemském platebním styku jednoznačně identifikuje účet klienta.</xs:documentation>
			<xs:appinfo>
				<rdf:RDF>
					<rdf:Description>
						<dc:creator>Pavel Benda (benda@asd-software.cz)</dc:creator>
						<dc:description>Složený datový prvek, který v tuzemském platebním styku jednoznačně identifikuje účet klienta.</dc:description>
						<dc:title>BANKOVNÍ SPOJENÍ</dc:title>
						<dcterm:created>19981201</dcterm:created>
						<dcterm:modified>19990101</dcterm:modified>
					</rdf:Description>
				</rdf:RDF>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element ref="UcetCislo"/>
				<xs:element ref="UcetIBANcislo"/>
			</xs:choice>
			<xs:choice>
				<xs:element ref="BankaKod"/>
				<xs:element ref="BankaSWIFTkod"/>
			</xs:choice>
			<xs:element ref="Rozsireni" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="objektID" type="xs:token" use="optional"/>
	</xs:complexType>
	<xs:element name="BankaUcet" type="BankaUcetStructure">
		<xs:annotation>
			<xs:documentation>BankaUcetStructure - instance </xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
